{% extends "app/base.twig" %}
{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12 text-center">
                    <h1 class="m-0 text-dark">{{ lang.app.CHANGE_PASSWORD }}</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">{{ lang.app.CHANGE_PASSWORD }}</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-sm-left text-md-right">{{ lang.app.CURRENT_PASSWORD }}</label>
                                <div class="col-sm-8">
                                    <input type="password" id="cur_pass" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-sm-left text-md-right">{{ lang.app.NEW_PASSWORD }}</label>
                                <div class="col-sm-8">
                                    <input type="password" id="new_pass" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-sm-left text-md-right">{{ lang.app.RETYPE_NEW_PASSWORD }}</label>
                                <div class="col-sm-8">
                                    <input type="password" id="retype_pass" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body buton-action-record">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-info submit-ticket-btn">{{ lang.app.SUBMIT }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_footer %}
    <script src="{{ base_url }}/app/views/app/user/change_password.js"></script>
{% endblock %}