<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ base_url }}/public/media/upload/{{ settings.favicon }}" type="image/png">
    <link rel="stylesheet" href="{{ base_url }}/public/theme/assets/css/all.min.css">
    <link rel="stylesheet" href="{{ base_url }}/public/theme/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="{{ base_url }}/public/theme/dist/css/adminlte.min.css">
    <script>
        var lang = {{ lang_js|raw }};
        var cur_lang = "{{ cur_lang }}";
        var base_url = "{{ base_url }}";
    </script>
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="card">
        <div class="card-body login-card-body">
            <div class="login-logo">
                <img style="width: 200px" src="{{ base_url }}/public/media/upload/{{settings.logo}}"/>
            </div>
            <div class="input-group mb-3">
                <select class="form-control change-language">
                    <option value="vi" {% if cur_lang=="vi" %}selected{% endif %}>Tiếng Việt</option>
                    <option value="en" {% if cur_lang=="en" %}selected{% endif %}>English</option>
                </select>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fal fa-flag"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control username" placeholder="{{ lang.USER_NAME }}">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fal fa-user"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control password" placeholder="{{ lang.PASSWORD }}">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fal fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-login">
                        <i class="fal fa-sign-in-alt"></i>
                        {{ lang.LOGIN }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ base_url }}/public/theme/plugins/jquery/jquery.min.js"></script>
<script src="{{ base_url }}/public/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{ base_url }}/public/theme/dist/js/adminlte.min.js"></script>
<script src="{{ base_url }}/public/theme/js/login.js"></script>
</body>
</html>
