<section id="effective" style="padding-bottom: 1px!important;" class="sub">
    <div class="effect-img">
    </div>
    <div class="container center">
        <div class="row title #statistical">
            <h1>Asoka đồng hành bảo vệ nhãn hiệu độc quyền</h1>
        </div>
        <div>
            <p style="text-align: -webkit-match-parent">Doanh nghiệp của bản không đơn độc một mình.Bằng tất cả sự
                tận tâm, chúng tôi đã <b style="color: black;">bảo vệ thành công cho 3000+</b> nhãn hiệu.
                <br>Doanh nghiệp hoàn toàn yên tâm kinh doanh với 5 lợi ích quan trọng này.<br/></p>
            <hr>
        </div>
        <div class="effective-content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="content-record">
                        <div class="float-left title-record">
                            <img src="{{ base_url }}/asokalaw/assets/media/DKNH/Quotes/Asset 6.svg">
                            <h4>Xác lập quyền sở hữu</h4>
                        </div>
                        <div class="desRecord float-right">
                            <p> Khẳng định chủ quyền đối với nhãn hiệu dưới cơ sở được pháp luật chứng thực bằng
                                Giấy chứng nhận đăng kí nhãn hiệu.
                            </p>
                        </div>
                    </div>
                    <div class="content-record">
                        <div class="float-left title-record">
                            <img src="{{ base_url }}/asokalaw/assets/media/DKNH/Quotes/Asset 6.svg">
                            <h4>Tránh xâm nhập nhãn hiệu</h4>
                        </div>
                        <div class="desRecord float-right">
                            <p>Phòng tránh nguy cơ nhãn hiệu bị các bên khác "ăn cắp", "làm giả", "làm nhái", gây
                                trùng, gây nhằm lẫn trong quá trình kinh doanh.</p>
                        </div>
                    </div>
                    <div class="content-record">
                        <div class="float-left title-record">
                            <img src="{{ base_url }}/asokalaw/assets/media/DKNH/Quotes/Asset 6.svg">
                            <h4> Yêu cầu bồi thường thiệt hại</h4>
                        </div>
                        <div class="desRecord float-right">
                            <p>Yêu cầu các bên xâm phạm dừng và bồi thường thiệt hại về các hình vi gây tổn thất
                                cho doanh nghiệp sở hữu nhãn hiệu được bảo hộ.</p>
                        </div>
                    </div>
                    <div class="content-record">
                        <div class="float-left title-record">
                            <img src="{{ base_url }}/asokalaw/assets/media/DKNH/Quotes/Asset 6.svg">
                            <h4> Tiến hành khiếu nại khiếu kiện</h4>
                        </div>
                        <div class="desRecord float-right">
                            <p>Lập căn cứ pháp lý để phản đối việc cấp văn bằng cho các bên vô ý/ cố ý gây trùng,
                                gây
                                nhằm lẫn đối với nhãn hiệu của chủ sở hữu.</p>
                        </div>
                    </div>
                    <div class="content-record">
                        <div class="float-left title-record">
                            <img src="{{ base_url }}/asokalaw/assets/media/DKNH/Quotes/Asset 6.svg">
                            <h4> Bảo vệ tài sản doanh nghiệp</h4>
                        </div>
                        <div class="desRecord float-right">
                            <p>Tăng giá trị tài sản về sở hữu trí tuệ của doanh nghiệp trong quá trình xây dựng/
                                phát
                                triển và chuyển giao doanh nghiệp.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img class="img-responsive" src="{{ base_url }}/asokalaw/assets/media/DKNH/Quotes/Asset 7.png">
                </div>
            </div>
            <div class="container">
                <div class="flex-center-hor">
                    <button type="button" class="btn btn-warning btn-custom">Đăng kí bảo hộ nhãn quyền</button>
                </div>
            </div>
        </div>
    </div>
</section>