<section id="effective" class="sub">
    <div class="effectiveImg">
        <img src="{{base_url}}/asokalaw/assets/media/DKNH/effective-content/Asset 25.svg">
    </div>
    <div class="container-fluid center">
        <div class="row title">
            <h1>Tại sao nên ủy quyền đăng ký nhãn hiệu <br>cho Asoka Law?<br></h1>
        </div>
        <div class="effective-content">
            <div class="row">
                <div  class="col-lg-1">
                </div>
                <div class="col-lg-5">
                    <img class="Sub" src="{{base_url}}/asokalaw/assets/media/DKNH/effective-content/Asset 24.png">
                </div>
                <div class="col-lg-5 flex-center-vertically SubTitle titlerecord">
                    <div class="content-record float-right">
                        <div class="float-left ">
                            <img src="{{base_url}}/asokalaw/assets/media/DKNH/effective-content/Asset 23.svg">
                        </div>
                        <p>Chúng tôi miễn phí kiểm tra nhãn hiệu của bạn đã bị trùng/gây nhầm lẫn với
                            các bên khác hay chưa, độ chính xác lên đến 90%.</p>
                    </div>
                    <div class="content-record float-right">
                        <div class="float-left">
                            <img src="{{base_url}}/asokalaw/assets/media/DKNH/effective-content/Asset 23.svg">
                        </div>
                        <p>Quy trình đặc biệt thần tốc:<b>"24 giờ & 3 ngày"</b>chỉ có tại Asoka Law: xử lý và
                            nộp đơn trong vòng 24 giờ; gửi trả hồ sơ trong vòng 03 ngày. </p>
                    </div>

                    <div class="content-record float-right">
                        <div class="float-left">
                            <img src="{{base_url}}/asokalaw/assets/media/DKNH/effective-content/Asset 23.svg">
                        </div>
                        <p>Asoka Law là hãng Luật chính danh, luật sư 12 năm kinh nghiệm, hỗ trợ đại
                            diện xử lý tranh chấp, khiếu nại, khiếu kiện trong quá trình nộp đơn.</p>
                    </div>

                    <div class="content-record float-right">
                        <div class="float-left">
                            <img src="{{base_url}}/asokalaw/assets/media/DKNH/effective-content/Asset 23.svg">
                        </div>
                        <p>Chúng tôi theo dõi sát sao và cập nhật kịp thời hồ sơ trong suốt 1 - 1,5 năm xét
                            duyệt, bạn không cần nhớ các bước xử lý của Cục Sở Hữu Trí Tuệ.</p>
                    </div>

                    <div class="content-record">
                        <div class="float-left">
                            <img src="{{base_url}}/asokalaw/assets/media/DKNH/effective-content/Asset 23.svg">
                        </div>
                        <p>Chi phí ủy quyền cho Asoka Law tương đối thấp so với thị trường, chất lượng
                            phục vụ được 98% khách hàng đã sử dụng dịch vụ đánh giá hài lòng.</p>
                    </div>
                </div>
                <div  class="col-lg-1">
                </div>
            </div>
        </div>
        <div class="sub"><button class=" btn btn-warning padding color-white" type="button">Tư vấn bảo hộ nhãn
                hiệu</button></div>
        <div class="call row">
            <hr class="">
            <img src="{{base_url}}/asokalaw/assets/media/PLTX/effect/Asset%2010.svg">
            <p>Tư vấn miễn phí: 096 191 4328</p>
            <hr>
        </div>
    </div>
</section>