<section id="effectiveContent" class="sub">
    <div class="effectBackground">
        <img src="{{base_url}}/asokalaw/assets/media/DKNH/file/bg1.svg">
    </div>
    <div class="container centerContainer">
        <div class="row title">
            <h1>Hồ sơ đăng ký nhãn hiệu
                <br>được Cục Sở Hữu Trí Tuệ xử lý như thế nào?<br></h1>
        </div>
        <div class="effective-content">
            <div class="row">
                <div class="content-record full-width">
                    <div class="float-left logoTitle">
                        <img class="image-effective" src="{{base_url}}/asokalaw/assets/media/DKNH/file/Asset 13.svg">
                    </div>
                    <div class="float-left content-record-effective">
                        <h5>1. Nhận hồ sơ và thẩm định hình thức đơn</h5>
                        <p class="fontWeight">Thời gian: 01 tháng từ ngày nhận đơn.
                            <br>Nếu đơn hợp lệ về hình thức, Cục Sở Hữu Trí Tuệ gửi công văn chấp thuận <a href="https://drive.google.com/open?id=1mEz3qNjjwY7j5tvQ84bwlke_lJc7ZBhw">(mẫu công văn)</a>.<br/>
                            Nếu đơn cần sửa đổi, Cục Sở Hữu Trí Tuệ gửi công văn yêu cầu sửa đổi <a href="https://drive.google.com/open?id=17kUkGXrsSz0ixXWL3oIqKizxNeTLf9Nf">(mẫu công văn)</a>.</p>
                    </div>
                    <div style="width: 100%;">
                        <img class="footer-image" src="{{base_url}}/asokalaw/assets/media/DKNH/file/Asset 12.svg">
                    </div>
                </div>
                <div class="content-record full-width">
                    <div class="float-right logoTitle">
                        <img  class="image-effective" src="{{base_url}}/asokalaw/assets/media/DKNH/file/Asset 14.svg">
                    </div>
                    <div class="float-left content-record-effective">
                        <h5>2. Cục Sở hữu trí tuệ đăng công báo</h5>
                        <p class="fontWeight">Thời gian: 02 tháng từ ngày chấp nhận đơn.
                            <br>Cục Sở hữu trí tuệ công bố đơn tại Công báo sở hữu công nghiệp <a  href="https://drive.google.com/open?id=1fbHq4sX3uaR5mCWEHT7MZwsjIGFUs5M8	https://drive.google.com/open?id=1fbHq4sX3uaR5mCWEHT7MZwsjIGFUs5M8">(mẫu công báo)</a><br/></p>
                    </div>
                    <div style="width: 100%;">
                        <img class="footer-image" src="{{base_url}}/asokalaw/assets/media/DKNH/file/Asset 12.svg">
                    </div>
                </div>
                <div class="content-record full-width">
                    <div class="float-left logoTitle">
                        <img  class="image-effective" src="{{base_url}}/asokalaw/assets/media/DKNH/file/Asset 15.svg">
                    </div>
                    <div class="float-left content-record-effective">
                        <h5>3. Thẩm định nội dung đơn</h5>
                        <p class="fontWeight">Thời gian: 09 tháng từ ngày đăng công báo.
                            <br>Nếu đơn hợp lệ về nội dung, Cục Sở Hữu Trí Tuệ gửi công văn chấp thuận <a  href="https://drive.google.com/open?id=1j4_HRl9uvguqdQ-BHewdZ-UEglnP_FtW">(mẫu công văn)</a>.<br/>
                            Nếu đơn cần sửa đổi, Cục Sở Hữu Trí Tuệ gửi công văn yêu cầu sửa đổi <a  href="https://drive.google.com/open?id=1Y3Gypehu445zBiAQeZr_-kCb54F0qcbq">(mẫu công văn)</a>.</p>
                    </div>
                    <div style="width: 100%;">
                        <img class="footer-image" src="{{base_url}}/asokalaw/assets/media/DKNH/file/Asset 12.svg">
                    </div>
                </div>
                <div class="content-record full-width">
                    <div class="float-right logoTitle">
                        <img  class="image-effective" src="{{base_url}}/asokalaw/assets/media/DKNH/file/Asset 16.svg">
                    </div>
                    <div class="float-left content-record-effective">
                        <h5>4. Thu phí cấp văn bằng</h5>
                        <p class="fontWeight">Cục Sở Hữu Trí Tuệ yêu cầu chủ sở hữu nhãn hiệu tiến hành nộp phí cấp văn bằng
                            <br><a  href="https://drive.google.com/open?id=1j4_HRl9uvguqdQ-BHewdZ-UEglnP_FtW">(công văn yêu cầu nộp phí)</a>. Chủ sở hữu nộp phí và chờ cấp văn bằng.<br/></p>
                    </div>
                    <div style="width: 100%;">
                        <img class="footer-image" src="{{base_url}}/asokalaw/assets/media/DKNH/file/Asset 12.svg">
                    </div>
                </div>
                <div class="content-record full-width">
                    <div class="float-left logoTitle">
                        <img  class="image-effective" src="{{base_url}}/asokalaw/assets/media/DKNH/file/Asset 17.svg">
                    </div>
                    <div class="float-left content-record-effective">
                        <h5>5. Cấp giấy chứng nhận Đăng ký nhãn hiệu</h5>
                        <p class="fontWeight">Thời gian: 02 tháng từ ngày nộp phí.
                            <br>Chủ sở hữu nhãn hiệu nhận Giấy chứng nhận đăng ký nhãn hiệu sau thời gian từ 1 đến 1,5 <br/>
                            năm kể từ thời điểm nộp đơn <a  href="https://drive.google.com/open?id=1C_jMNLzJvTJGRoa2edv-wBirz3tT3wIL">(giấy chứng nhận)</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="effectBackground">
        <img src="{{base_url}}/asokalaw/assets/media/DKNH/file/bg2.svg">
    </div>
</section>