<section id="price-listItem" class="sub">
    <div class="container center">
        <div class="row title">
            <h1>Bắt đầu đăng ký nhãn hiệu với 3 bước nhanh chóng</h1>
        </div>
        <div class="row sub" style="padding-top: 200px;">
            <div class="logocontent">
                <div class="container">
                    <div class="priceListItem">
                        <img style="width: 50%;" src="{{base_url}}/asokalaw/assets/media/DKNH/step/Asset 18.svg">
                        <h5>Liên hệ</h5>
                        <p>
                            Gọi hotline:<b> 096 191 4328</b>
                            <br>
                            Khi bạn gửi yêu cầu đăng ký, nhân
                            viên Asoka Law sẽ liên hệ và tư vấn,
                            kiểm tra nhẫn hiệu cho bạn hoàn
                            toàn miễn phí.
                            </br>
                        </p>
                    </div>
                </div>
                <div>
                    <img class="arrow" src="{{base_url}}/asokalaw/assets/media/DKNH/step/Asset 21.svg">
                </div>
                <div class="container">
                    <div class="priceListItem">
                        <img style="width: 50%;" src="{{base_url}}/asokalaw/assets/media/DKNH/step/Asset 19.svg">
                        <h5>Ký hợp đồng</h5>
                        <div>
                            <p>
                                Asoka Law đến trực tiếp địa điểm
                                khách hàng yêu cầu để ký hợp
                                đồng kèm hồ sơ đã được soạn thảo
                                cùng tài liệu yêu cầu. Tất cả chỉ
                                trong 1 lần ký duy nhất.
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <img class="arrow" src="{{base_url}}/asokalaw/assets/media/DKNH/step/Asset 21.svg">
                </div>
                <div class=" container">
                    <div class="priceListItem">
                        <img style="width: 50%;" src="{{base_url}}/asokalaw/assets/media/DKNH/step/Asset 20.svg">
                        <h5>Nhận kết quả</h5>
                        <div>
                            <p>
                                Chỉ trong <b>24 giờ</b> kể từ khi ký hợp
                                đồng và cung cấp đủ hồ sơ, Asoka
                                Law sẽ gửi tới bạn kết quả hồ sơ đã
                                đăng ký.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub"><button class=" btn btn-warning padding color-white" type="button">Yêu cầu thực hiện hồ
                sơ</button></div>
    </div>
</section>