<section id="business-size" class="sub">
    <div class="container center">
        <div class="row title">
            <h1>Chọn quy mô doanh nghiệp của bạn</h1>
        </div>
        <div class="controller-tabs">
            <ul class="nav nav-tabs flex-center-hor">
                <li>
                    <button class="row btn-tab flex-center-hor active" data-target="#menu1">
                        <img src="{{ base_url }}/asokalaw/assets/media/PLTX/size/DN 03 lđ.svg">
                        <div>
                            <p>Doanh nghiệp</p>
                            <p>tối đa 03 lao động</p>
                        </div>
                    </button>
                </li>
                <li>
                    <button class="row btn-tab flex-center-hor" data-target="#menu2">
                        <img src="{{ base_url }}/asokalaw/assets/media/PLTX/size/DN 6 lđ.svg">
                        <div>
                            <p>Doanh nghiệp</p>
                            <p>tối đa 06 lao động</p>
                        </div>
                    </button>
                </li>
                <li>
                    <button class="row btn-tab flex-center-hor" data-target="#menu3">
                        <img src="{{ base_url }}/asokalaw/assets/media/PLTX/size/DN 10 lđ.svg">
                        <div>
                            <p>Doanh nghiệp</p>
                            <p>tối đa 10 lao động</p>
                        </div>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content sub">
        <div class="container">
            <div id="menu1" class="tab-pane center row" style="display: flex">
                <div class="col-lg-4 tab-pan-img">
                    <img src="{{ base_url }}/asokalaw/assets/media/PLTX/size/DN 03 lđ.jpg">
                    <div class="background-square"></div>
                </div>
                <div class="col-lg-5 class tab-content-1 padding">
                    <h6>Ngành nghề & các vấn đề pháp lý thường gặp</h6>
                    <div>
                        <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                                data-target="#dvcntt-03">
                            Dịch vụ công nghệ thông tin
                            <i class="fa fa-caret-down float-right"></i>
                        </button>
                        <div id="dvcntt-03" class="collapse">
                            <div class="list-rule">
                                <p><i class="fa fa-caret-right"></i> Đăng ký bản quyền/sáng chế</p>
                                <p><i class="fa fa-caret-right"></i> Hợp đồng chuyển giao công nghệ</p>
                                <p><i class="fa fa-caret-right"></i> Miễn/giảm/hoàn thuế</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                                data-target="#dlpphh-03">
                            Đại lý/phân phối hàng hóa
                            <i class="fa fa-caret-down float-right"></i>
                        </button>
                        <div id="dlpphh-03" class="collapse">
                            <div class="list-rule">
                                <p><i class="fa fa-caret-right"></i> Đăng ký lưu hành sản phẩm</p>
                                <p><i class="fa fa-caret-right"></i> Hợp đồng cung ứng hàng hóaệ</p>
                                <p><i class="fa fa-caret-right"></i> Hợp đồng phân phối độc quyền</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                                data-target="#mtttsk-03">
                            Marketing/ Truyền thông/ Sự kiện
                            <i class="fa fa-caret-down float-right"></i>
                        </button>
                        <div id="mtttsk-03" class="collapse">
                            <div class="list-rule">
                                <p><i class="fa fa-caret-right"></i> Đăng ký bản quyền/nhãn hiệu</p>
                                <p><i class="fa fa-caret-right"></i> Giấy phép tổ chức sự kiện</p>
                                <p><i class="fa fa-caret-right"></i> Hợp đồng hợp tác/tài trợ</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                                data-target="#gdvhgt-03">
                            Giáo dục/ Văn hóa/ Giải trí
                            <i class="fa fa-caret-down float-right"></i>
                        </button>
                        <div id="gdvhgt-03" class="collapse">
                            <div class="list-rule">
                                <p><i class="fa fa-caret-right"></i> Giấy phép hoạt động trung tâm</p>
                                <p><i class="fa fa-caret-right"></i> Hợp đồng cung cấp dịch vụ</p>
                                <p><i class="fa fa-caret-right"></i> Quản lý lao động thuê ngoài</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                                data-target="#auldyt-03">
                            Ăn uống/ Làm đẹp/ Y tế
                            <i class="fa fa-caret-down float-right"></i>
                        </button>
                        <div id="auldyt-03" class="collapse">
                            <div class="list-rule">
                                <p><i class="fa fa-caret-right"></i> Công bố chất lượng sản phẩm</p>
                                <p><i class="fa fa-caret-right"></i> Giấy phép hoạt động dịch vụ</p>
                                <p><i class="fa fa-caret-right"></i> Vệ sinh an toàn thực phẩm</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 class tab-content-1">
                    <h6>Nên sử dụng: Gói cơ bản</h6>
                    <div class="tab-content-record">
                        <div class="tab-record">
                            <i class="fa fa-circle float-left"></i>
                            <p class="unit align-left">Tiết kiệm chi phí vận hành</p>
                        </div>
                        <div class="tab-record">
                            <i class="fa fa-circle float-left"></i>
                            <p class="unit align-left">Cung cấp dịch vụ tư vấn cơ bản</p>
                        </div>
                        <div class="tab-record">
                            <i class="fa fa-circle float-left"></i>
                            <p class="unit align-left">Phù hợp cho công ty mới thành lập</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="menu2" class="tab-pane center row">
                <div class="col-lg-4 tab-pan-img">
                    <img src="{{ base_url }}/asokalaw/assets/media/PLTX/size/DN 06lđ.jpg">
                    <div class="background-square"></div>
                </div>
                <div class="col-lg-5 class tab-content-1 padding">
                    <h6>Ngành nghề & các vấn đề pháp lý thường gặp</h6>
                    <div>
                        <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                                data-target="#dvcntt-06">
                            Dịch vụ công nghệ thông tin
                            <i class="fa fa-caret-down float-right"></i>
                        </button>
                        <div id="dvcntt-06" class="collapse">
                            <div class="list-rule">
                                <p><i class="fa fa-caret-right"></i> Đăng ký bản quyền/sáng chế</p>
                                <p><i class="fa fa-caret-right"></i> Hợp đồng chuyển giao công nghệ</p>
                                <p><i class="fa fa-caret-right"></i> Miễn/giảm/hoàn thuế</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                                data-target="#dlpphh-06">
                            Đại lý/phân phối hàng hóa
                            <i class="fa fa-caret-down float-right"></i>
                        </button>
                        <div id="dlpphh-06" class="collapse">
                            <div class="list-rule">
                                <p><i class="fa fa-caret-right"></i> Đăng ký lưu hành sản phẩm</p>
                                <p><i class="fa fa-caret-right"></i> Hợp đồng cung ứng hàng hóaệ</p>
                                <p><i class="fa fa-caret-right"></i> Hợp đồng phân phối độc quyền</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                                data-target="#mtttsk-06">
                            Marketing/ Truyền thông/ Sự kiện
                            <i class="fa fa-caret-down float-right"></i>
                        </button>
                        <div id="mtttsk-06" class="collapse">
                            <div class="list-rule">
                                <p><i class="fa fa-caret-right"></i> Đăng ký bản quyền/nhãn hiệu</p>
                                <p><i class="fa fa-caret-right"></i> Giấy phép tổ chức sự kiện</p>
                                <p><i class="fa fa-caret-right"></i> Hợp đồng hợp tác/tài trợ</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                                data-target="#gdvhgt-06">
                            Giáo dục/ Văn hóa/ Giải trí
                            <i class="fa fa-caret-down float-right"></i>
                        </button>
                        <div id="gdvhgt-06" class="collapse">
                            <div class="list-rule">
                                <p><i class="fa fa-caret-right"></i> Giấy phép hoạt động trung tâm</p>
                                <p><i class="fa fa-caret-right"></i> Hợp đồng cung cấp dịch vụ</p>
                                <p><i class="fa fa-caret-right"></i> Quản lý lao động thuê ngoài</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                                data-target="#auldyt-06">
                            Ăn uống/ Làm đẹp/ Y tế
                            <i class="fa fa-caret-down float-right"></i>
                        </button>
                        <div id="auldyt-06" class="collapse">
                            <div class="list-rule">
                                <p><i class="fa fa-caret-right"></i> Công bố chất lượng sản phẩm</p>
                                <p><i class="fa fa-caret-right"></i> Giấy phép hoạt động dịch vụ</p>
                                <p><i class="fa fa-caret-right"></i> Vệ sinh an toàn thực phẩm</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 class tab-content-1">
                    <h6>Nên sử dụng: Gói toàn diện </h6>
                    <div class="tab-content-record">
                        <div class="tab-record">
                            <i class="fa fa-circle float-left"></i>
                            <p class="unit align-left">Tư vấn chuyên sâu, tần suất thường xuyên</p>
                        </div>
                        <div class="tab-record">
                            <i class="fa fa-circle float-left"></i>
                            <p class="unit align-left">Quản trị lao động chặt chẽ</p>
                        </div>
                        <div class="tab-record">
                            <i class="fa fa-circle float-left"></i>
                            <p class="unit align-left">Hỗ trợ tối đa các vấn đề về thuế doanh nghiệp</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="menu3" class="tab-pane center row">
                <div class="col-lg-4 tab-pan-img">
                    <img src="{{ base_url }}/asokalaw/assets/media/PLTX/size/DN 10 lđ.jpg">
                    <div class="background-square"></div>
                </div>
                <div class="col-lg-5 class tab-content-1 padding">
                    <h6>Ngành nghề & các vấn đề pháp lý thường gặp</h6>
                    <div>
                        <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                                data-target="#dvcntt-10">
                            Dịch vụ công nghệ thông tin
                            <i class="fa fa-caret-down float-right"></i>
                        </button>
                        <div id="dvcntt-10" class="collapse">
                            <div class="list-rule">
                                <p><i class="fa fa-caret-right"></i> Đăng ký bản quyền/sáng chế</p>
                                <p><i class="fa fa-caret-right"></i> Hợp đồng chuyển giao công nghệ</p>
                                <p><i class="fa fa-caret-right"></i> Miễn/giảm/hoàn thuế</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                                data-target="#dlpphh-10">
                            Đại lý/phân phối hàng hóa
                            <i class="fa fa-caret-down float-right"></i>
                        </button>
                        <div id="dlpphh-10" class="collapse">
                            <div class="list-rule">
                                <p><i class="fa fa-caret-right"></i> Đăng ký lưu hành sản phẩm</p>
                                <p><i class="fa fa-caret-right"></i> Hợp đồng cung ứng hàng hóaệ</p>
                                <p><i class="fa fa-caret-right"></i> Hợp đồng phân phối độc quyền</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                                data-target="#mtttsk-10">
                            Marketing/ Truyền thông/ Sự kiện
                            <i class="fa fa-caret-down float-right"></i>
                        </button>
                        <div id="mtttsk-10" class="collapse">
                            <div class="list-rule">
                                <p><i class="fa fa-caret-right"></i> Đăng ký bản quyền/nhãn hiệu</p>
                                <p><i class="fa fa-caret-right"></i> Giấy phép tổ chức sự kiện</p>
                                <p><i class="fa fa-caret-right"></i> Hợp đồng hợp tác/tài trợ</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                                data-target="#gdvhgt-10">
                            Giáo dục/ Văn hóa/ Giải trí
                            <i class="fa fa-caret-down float-right"></i>
                        </button>
                        <div id="gdvhgt-10" class="collapse">
                            <div class="list-rule">
                                <p><i class="fa fa-caret-right"></i> Giấy phép hoạt động trung tâm</p>
                                <p><i class="fa fa-caret-right"></i> Hợp đồng cung cấp dịch vụ</p>
                                <p><i class="fa fa-caret-right"></i> Quản lý lao động thuê ngoài</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-collapse row" data-toggle="collapse"
                                data-target="#auldyt-10">
                            Ăn uống/ Làm đẹp/ Y tế
                            <i class="fa fa-caret-down float-right"></i>
                        </button>
                        <div id="auldyt-10" class="collapse">
                            <div class="list-rule">
                                <p><i class="fa fa-caret-right"></i> Công bố chất lượng sản phẩm</p>
                                <p><i class="fa fa-caret-right"></i> Giấy phép hoạt động dịch vụ</p>
                                <p><i class="fa fa-caret-right"></i> Vệ sinh an toàn thực phẩm</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 class tab-content-1">
                    <h6>Nên sử dụng: Gói cộng sự</h6>
                    <div class="tab-content-record">
                        <div class="tab-record">
                            <i class="fa fa-circle float-left"></i>
                            <p class="unit align-left">Quản trị lao động lên đến 10 lao động</p>
                        </div>
                        <div class="tab-record">
                            <i class="fa fa-circle float-left"></i>
                            <p class="unit align-left">Tư vấn các hạng mục giấy phép chuyên biệt</p>
                        </div>
                        <div class="tab-record">
                            <i class="fa fa-circle float-left"></i>
                            <p class="unit align-left">Luật sư hỗ trợ trực tiếp tại văn phòng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>