<section id="effective" class="sub">
<!--    <div class="effect-img">-->
<!--        <img src="{{base_url}}/asokalaw/assets/media/landingpage/effect/background 2.svg">-->
<!--    </div>-->
    <div class="container center">
        <div class="row title">
            <h1 >Sử dụng nguồn lực hiệu quả, tiết kiệm "4 trong 1"</h1>
        </div>
        <div class="sub">
            <p class="des-record">Doanh nghiệp của bạn không đơn độc trong quá trình kinh doanh, bởi vì Asoka Law luôn hỗ trợ đắc lực để giải quyết 4 vấn đề <b class="text-black">pháp lý - hợp đồng - lao động - thuế</b> một cách xuất sắc.</p>
            <p class="des-record">Doanh nghiệp chỉ cần tập trung vào kinh doanh, mà vẫn đảm bảo được sự ổn định và an toàn của hệ thống với chi phí tiết kiệm.</p>
        </div>
        <hr>
        <div class="effective-content">
            <div class="row">
                <div class="col-lg-6">
                    <img class="effective-img" src="{{base_url}}/asokalaw/assets/media/PLTX/effect/ảnh-clip.png">
                </div>
                <div class="col-lg-6 flex-center-vertically">
                    <div class="content-record">
                        <div class="float-left title-record">
                            <img src="{{base_url}}/asokalaw/assets/media/PLTX/effect/Asset%209.svg">
                            <h4>Trải nghiệm dịch vụ miễn phí</h4>
                        </div>
                        <div class="des-record float-right">
                            <p>Trong 7 ngày đầu tiên trải nghiệm dịch vụ, bạn hoàn toàn không phải trả phí.
                                Sau thời gian dùng thử, nếu bạn cảm thấy hài lòng thì chúng tôi mới bắt đầu
                                tính phí.</p>
                        </div>
                    </div>
                    <div class="content-record">
                        <div class="float-left title-record">
                            <img src="{{base_url}}/asokalaw/assets/media/PLTX/effect/Asset%209.svg">
                            <h4>Tiết kiệm 87% chi phí</h4>
                        </div>
                        <div class="des-record float-right">
                            <p>Dịch vụ của Asoka được thiết kế để giảm thiểu cho quỹ lương, tương đương với
                                việc thuê 04 nhân sự nội bộ. Ngân sách đó bạn có thể ưu tiên cho phát triển
                                sản phẩm/dịch vụ. </p>
                        </div>
                    </div>
                    <div class="content-record">
                        <div class="float-left title-record">
                            <img src="{{base_url}}/asokalaw/assets/media/PLTX/effect/Asset%209.svg">
                            <h4> Tư vấn kịp thời chính xác</h4>
                        </div>
                        <div class="des-record float-right">
                            <p>Mỗi doanh nghiệp luôn được phụ trách bởi ít nhất 01 luật sư, 01 cố vấn thuế và
                                01 chuyên viên, để theo dõi, thực hiện công việc và kịp thời đưa ra lời khuyên
                                hữu ích.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub"><button class=" btn btn-warning padding color-white" type="button">DÙNG THỬ MIỄN PHÍ</button></div>
        <div class="call row">
            <hr class="">
            <img src="{{base_url}}/asokalaw/assets/media/PLTX/effect/Asset%2010.svg">
            <p>Tư vấn miễn phí: 096 191 4328</p>
            <hr>
        </div>
    </div>
</section>