<section id ='feedback-pltx' class="sub">
    <div class="container center">
        <div class="feedback-slide-pltx">
            <div class="feedback-item">
                <div class="background-icon-pltx">
                    <img src="{{base_url}}/asokalaw/assets/media/PLTX/feedback/Asset 13.svg">
                </div>
                <div class="content-pltx">
                    <p class="pltx-text">Drive Agency được đăng ký thành lập từ năm 2018 bởi Asoka Law. Sau đó chúng tôi tiếp tục sử dụng Gói Pháp Lý Thường Xuyên, ổn định cho đến nay. Hoàn toàn tin cậy và yên tâm, đó là những gì tôi nhận được khi thực hiện dịch vụ tại Asoka Law. Rất tốt!</p>
                    <hr>
                    <div class="info-feedback">
                        <div class="row">
                            <div class="flex-center-vertically">
                                <h4>Ông Pierre</h4>
                                <p>Giám đốc điều hành DRIVE</p>
                            </div>
                            <div class="logo-customer">
                                <div class="circal"></div>
                                <img src="{{base_url}}/asokalaw/assets/media/PLTX/feedback/Asset%2014.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feedback-item">
                <div class="background-icon-pltx">
                    <img src="{{base_url}}/asokalaw/assets/media/PLTX/feedback/Asset 13.svg">
                </div>
                <div class="content-pltx">
                    <p class="pltx-text">Drive Agency được đăng ký thành lập từ năm 2018 bởi Asoka Law. Sau đó chúng tôi tiếp tục sử dụng Gói Pháp Lý Thường Xuyên, ổn định cho đến nay. Hoàn toàn tin cậy và yên tâm, đó là những gì tôi nhận được khi thực hiện dịch vụ tại Asoka Law. Rất tốt!</p>
                    <hr>
                    <div class="info-feedback">
                        <div class="row">
                            <div class="flex-center-vertically">
                                <h4>Ông Pierre</h4>
                                <p>Giám đốc điều hành DRIVE</p>
                            </div>
                            <div class="logo-customer">
                                <div class="circal"></div>
                                <img src="{{base_url}}/asokalaw/assets/media/PLTX/feedback/Asset%2014.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feedback-item">
                <div class="background-icon-pltx">
                    <img src="{{base_url}}/asokalaw/assets/media/PLTX/feedback/Asset 13.svg">
                </div>
                <div class="content-pltx">
                    <p class="pltx-text">Drive Agency được đăng ký thành lập từ năm 2018 bởi Asoka Law. Sau đó chúng tôi tiếp tục sử dụng Gói Pháp Lý Thường Xuyên, ổn định cho đến nay. Hoàn toàn tin cậy và yên tâm, đó là những gì tôi nhận được khi thực hiện dịch vụ tại Asoka Law. Rất tốt!</p>
                    <hr>
                    <div class="info-feedback">
                        <div class="row">
                            <div class="flex-center-vertically">
                                <h4>Ông Pierre</h4>
                                <p>Giám đốc điều hành DRIVE</p>
                            </div>
                            <div class="logo-customer">
                                <div class="circal"></div>
                                <img src="{{base_url}}/asokalaw/assets/media/PLTX/feedback/Asset%2014.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>