<section id="list-service" class="sub">
    <div class="container center">
        <div class="row title">
            <h1>So sánh các gói giá của Asoka Law</h1>
        </div>
        <div class="row title">
            <h1>Dùng thử miễn phí trong 7 ngày</h1>
        </div>
        <div class="row sub">
            <div class="col-lg-4 service-content">
                <h5 class="font-weight-normal">GÓI CƠ BẢN</h5>
                <hr>
                <div class="summary">
                    <p class="unit align-right padding-hor margin-negative">vnđ/tháng</p>
                    <p class="price align-right padding-hor">2.990.000</p>
                    <div class="sub"><button class=" btn btn-outline-warning padding" type="button">DÙNG THỬ MIỄN PHÍ</button></div>
                    <p class="unit">Tiết kiệm <b class="light-blue">87.23%</b>/năm</p>
                    <p class="unit">Tối đa 03 lao động</p>
                </div>
                <hr>
                <div class="summary-detail">
                    <div class="summary-item">
                        <p class="summary-title">TƯ VẤN PHÁP LÝ</p>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Trả lời câu hỏi pháp lý theo yêu cầu. <b>Qua email</b>
                                <i>(02 vấn đề/tháng)</i></p>
                        </div>
                    </div>
                    <div class="summary-item">
                        <p class="summary-title">HỢP ĐỒNG</p>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Rà soát/tư vấn hợp đồng đối tác gửi đến. <b>Qua email</b>
                                <i>(02 vấn đề/tháng)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Soạn thảo hợp đồng giao dịch gửi đối tác <i>(01 hợp đồng/tháng)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Soạn thảo văn bản giao dịch nội bộ <i>(02 văn bản/tháng)</i></p>
                        </div>
                    </div>
                    <div class="summary-item">
                        <p class="summary-title">QUẢN TRỊ LAO ĐỘNG</p>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Soạn thảo Biên bản thử việc <i>(02 văn bản/tháng)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Soạn thảo Hợp đồng lao động <i>(02 hợp đồng/tháng)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Đăng ký khai trình lao động <i>(tối đa 03 lao động/tháng)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Đăng ký bảo hiểm xã hội <i>(03 lao động/quý)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Soạn thảo nội quy lao động <i>(01 mẫu đơn giản)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Đăng ký thang bảng lương <i>(01 lần)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Hướng dẫn nộp bảo hiểm xã hội định kỳ <i>(01 lần/tháng)</i></p>
                        </div>
                    </div>
                    <div class="summary-item">
                        <p class="summary-title">THUẾ</p>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Báo cáo thuế giá trị gia tăng <i>(tối đa 20 hóa đơn/quý)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Hướng dẫn viết hóa đơn GTGT <i>(10 hóa đơn/quý)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Hướng dẫn nộp thuế GTGT định kỳ <i>(01 lần/quý)</i></p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 service-content middle">
                <div class="banner-small">
                    <img src="{{base_url}}/asokalaw/assets/media/PLTX/service/Asset4.svg">
                </div>
                <h5 class="font-weight-normal">GÓI CƠ BẢN</h5>
                <hr>
                <div class="summary">
                    <p class="unit align-right padding-hor margin-negative">vnđ/tháng</p>
                    <p class="price align-right padding-hor">5.990.000</p>
                    <div class="sub"><button class=" btn btn-warning padding" type="button">DÙNG THỬ MIỄN PHÍ</button></div>
                    <p class="unit">Tiết kiệm <b class="light-blue">87.60%</b>/năm</p>
                    <p class="unit">Tối đa 06 lao động</p>
                </div>
                <hr>
                <div class="summary-detail">
                    <div class="summary-item">
                        <p class="summary-title">TƯ VẤN PHÁP LÝ</p>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Trả lời câu hỏi pháp lý theo yêu cầu. <b>Qua email/điện thoại</b>
                                <i>(04 vấn đề/tháng)</i></p>
                        </div>
                    </div>
                    <div class="summary-item">
                        <p class="summary-title">HỢP ĐỒNG</p>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Rà soát/tư vấn hợp đồng đối tác gửi đến. <b>Qua
                                email/điện thoại</b>
                                <i>(04 vấn đề/tháng)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Soạn thảo hợp đồng giao dịch gửi đối tác <i>(03 hợp đồng/tháng)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Soạn thảo văn bản giao dịch nội bộ <i>(04 văn bản/tháng)</i></p>
                        </div>
                    </div>
                    <div class="summary-item">
                        <p class="summary-title">QUẢN TRỊ LAO ĐỘNG</p>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Soạn thảo Biên bản thử việc <i>(04 văn bản/tháng)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Soạn thảo Hợp đồng lao động <i>(04 hợp đồng/tháng)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Đăng ký khai trình lao động <i>(tối đa 06 lao động/tháng)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Đăng ký bảo hiểm xã hội <i>(06 lao động/quý)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Soạn thảo nội quy lao động <i>(01 mẫu đơn giản)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Đăng ký thang bảng lương <i>(01 lần)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Hướng dẫn nộp bảo hiểm xã hội định kỳ <i>(01 lần/tháng)</i></p>
                        </div>
                    </div>
                    <div class="summary-item">
                        <p class="summary-title">THUẾ</p>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Báo cáo thuế giá trị gia tăng <i>(tối đa 50 hóa đơn/quý)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Hướng dẫn viết hóa đơn GTGT <i>(10 hóa đơn/quý)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Hướng dẫn nộp thuế GTGT định kỳ <i>(01 lần/quý)</i></p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 service-content">
                <h5 class="font-weight-normal">GÓI CỘNG SỰ</h5>
                <hr>
                <div class="summary">
                    <p class="unit align-right padding-hor margin-negative">vnđ/tháng</p>
                    <p class="price align-right padding-hor">12.000.000</p>
                    <div class="sub"><button class=" btn btn-outline-warning padding" type="button">DÙNG THỬ MIỄN PHÍ</button></div>
                    <p class="unit">Tiết kiệm <b class="light-blue">83.90%</b>/năm</p>
                    <p class="unit">Tối đa 10 lao động</p>
                </div>
                <hr>
                <div class="summary-detail">
                    <div class="summary-item">
                        <p class="summary-title">TƯ VẤN PHÁP LÝ</p>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Trả lời câu hỏi pháp lý theo yêu cầu. <b>Qua
                                email/điện thoại/gặp trực tiếp</b>
                                <i>(06 vấn đề/tháng)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Luật sư tham gia đàm phán/họp tại văn phòng <i>(01 giờ/tháng)</i></p>
                        </div>
                    </div>
                    <div class="summary-item">
                        <p class="summary-title">HỢP ĐỒNG</p>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Rà soát/tư vấn hợp đồng đối tác gửi đến. <b>Qua
                                email/điện thoại/gặp trực tiếp </b>
                                <i>(05 vấn đề/tháng)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Soạn thảo hợp đồng giao dịch gửi đối tác <i>(05 hợp đồng/tháng)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Soạn thảo văn bản giao dịch nội bộ <i>(05 văn bản/tháng)</i></p>
                        </div>
                    </div>
                    <div class="summary-item">
                        <p class="summary-title">QUẢN TRỊ LAO ĐỘNG</p>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Soạn thảo Biên bản thử việc <i>(05 văn bản/tháng)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Soạn thảo Hợp đồng lao động <i>(05 hợp đồng/tháng)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Đăng ký khai trình lao động <i>(tối đa 10 lao động/tháng)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Đăng ký bảo hiểm xã hội <i>(10 lao động/quý)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Soạn thảo nội quy lao động <i>(01 mẫu đơn giản)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Đăng ký thang bảng lương <i>(01 lần)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Hướng dẫn nộp bảo hiểm xã hội định kỳ <i>(01 lần/tháng)</i></p>
                        </div>
                    </div>
                    <div class="summary-item">
                        <p class="summary-title">THUẾ</p>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Báo cáo thuế giá trị gia tăng <i>(tối đa 100 hóa đơn/quý)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Hướng dẫn viết hóa đơn GTGT <i>(50 hóa đơn/quý)</i></p>
                        </div>
                        <div class="record">
                            <img src="{{base_url}}\asokalaw\assets\media\PLTX\service\Asset5.svg" class="float-left">
                            <p class="unit align-left">Hướng dẫn nộp thuế GTGT định kỳ <i>(01 lần/quý)</i></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>