<section id="slide-video" class="sub video-pltx">
    <div class="container">
        <div class="row">
            <h4>Luật sư Asoka tư vấn pháp lý cho doanh nghiệp</h4>
        </div>
        <div class="list-slide-video">
            <div class="slide-item">
                <img src="{{base_url}}/asokalaw/assets/media/landingpage/video/play.svg" class="btn-play">
                <video height="100%" width="100%" poster="assets/PLTX/video/1.jpg" controls>
                    <source src="https://www.youtube.com/embed/bb42zrvKOWQ" type="video/mp4">
                </video>
                <div><img class="icon float-left" src="{{base_url}}/asokalaw/assets/media/landingpage/video/viewicon.svg"> <p> 2k3 lượt xem</p></div>
            </div>
            <div class="slide-item">
                <img src="{{base_url}}/asokalaw/assets/media/landingpage/video/play.svg" class="btn-play">
                <video height="100%" width="100%" poster="assets/PLTX/video/2.jpg" controls>
                    <source src="https://www.youtube.com/embed/bb42zrvKOWQ" type="video/mp4">
                </video>
                <div><img class="icon float-left" src="{{base_url}}/asokalaw/assets/media/landingpage/video/viewicon.svg"> <p> 2k3 lượt xem</p></div>
            </div>
            <div class="slide-item">
                <img src="{{base_url}}/asokalaw/assets/media/landingpage/video/play.svg" class="btn-play">
                <video height="100%" width="100%" poster="assets/PLTX/video/3.jpg" controls>
                    <source src="https://www.youtube.com/embed/bb42zrvKOWQ" type="video/mp4">
                </video>
                <div><img class="icon float-left" src="{{base_url}}/asokalaw/assets/media/landingpage/video/viewicon.svg"> <p> 2k3 lượt xem</p></div>
            </div>
            <div class="slide-item">
                <img src="{{base_url}}/asokalaw/assets/media/landingpage/video/play.svg" class="btn-play">
                <video height="100%" width="100%" poster="assets/PLTX/video/3.jpg" controls>
                    <source src="https://www.youtube.com/embed/bb42zrvKOWQ" type="video/mp4">
                </video>
                <div><img class="icon float-left" src="{{base_url}}/asokalaw/assets/media/landingpage/video/viewicon.svg"> <p> 2k3 lượt xem</p></div>
            </div>
        </div>
    </div>
</section>