<section id="support" class="sub">
    <div class="container sub">
        <div class="row title">
            <h1>Asoka Law hỗ trợ doanh nghiệp toàn diện từ khi thành lập</h1>
            <p class="des-record">Chúng tôi luôn cung cấp dịch vụ pháp lý cho doanh nghiệp trong suốt quá trình kinh doanh. 99% khách hàng nói rằng, dịch vụ của Asoka Law dễ sử dụng,
                phù hợp với nhu cầu của doanh nghiệp</p>
        </div>
        <div class="slide-support-pltx sub">
            <div class="slide-support-item col-lg-3">
                <div class="">
                    <img src="{{base_url}}/asokalaw/assets/media/PLTX/support/1. Luật sư đại diện xử lý tranh chấp.jpg">
                    <div class="center support-title">
                        <p>Luật sư đại diện xử lý tranh chấp</p>
                        <div class="row">
                            <i class="fa fa-thumbs-up"></i>
                            <p>228 lượt sử dụng</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-support-item col-lg-3">
                <div class="">
                    <img src="{{base_url}}/asokalaw/assets/media/PLTX/support/2. Thay đổi đăng ký kinh doanh.jpg">
                    <div class="center support-title">
                        <p>Thay đổi đăng ký kinh doanh
                        </p>
                        <div class="row">
                            <i class="fa fa-thumbs-up"></i>
                            <p>963 lượt sử dụng</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-support-item col-lg-3">
                <div class="">
                    <img src="{{base_url}}/asokalaw/assets/media/PLTX/support/3. Đăng ký sở hữu trí tuệ.jpg">
                    <div class="center support-title">
                        <p>Đăng ký sở hữu trí tuệ</p>
                        <div class="row">
                            <i class="fa fa-thumbs-up"></i>
                            <p>3.000 lượt sử dụng
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-support-item col-lg-3">
                <div class="">
                    <img src="{{base_url}}/asokalaw/assets/media/PLTX/support/4. Đăng ký đầu tư.jpg">
                    <div class="center support-title">
                        <p>Đăng ký đầu tư</p>
                        <div class="row">
                            <i class="fa fa-thumbs-up"></i>
                            <p>568 lượt sử dụng</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-support-item col-lg-3">
                <div class="">
                    <img src="{{base_url}}/asokalaw/assets/media/PLTX/support/5. Đăng ký giấy phép ngành nghề có điều kiện.jpg">
                    <div class="center support-title">
                        <p>Đăng ký giấy phép ngành nghề có điều kiện</p>
                        <div class="row">
                            <i class="fa fa-thumbs-up"></i>
                            <p>576 lượt sử dụng</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-support-item col-lg-3">
                <div class="">
                    <img src="{{base_url}}/asokalaw/assets/media/PLTX/support/6. Đăng ký lưu hành sản phẩm trên thị trường.jpg">
                    <div class="center support-title">
                        <p>Đăng ký sản phẩm lưu hành trên thị trường</p>
                        <div class="row">
                            <i class="fa fa-thumbs-up"></i>
                            <p>216 lượt sử dụng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub center"><button class=" btn btn-warning padding color-white" type="button">TƯ VẤN DỊCH VỤ</button></div>
    </div>
</section>