{% extends "app/base.twig" %}
{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12 text-center">
                    <h1 class="m-0 text-dark">{{ lang('LBL_CREATE_CATEGORY') }}</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <form class="form-horizontal" method="post" action="{{ base_url }}/admin/category/create">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">{{ lang('LBL_GENERAL_INFO') }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-sm-left text-md-right">{{ lang(db_def.category.name.label) }} (*)</label>
                                    <div class="col-sm-8">
                                        {{ form_field("text","name","required")|raw }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-sm-left text-md-right">{{ lang(db_def.category.slug.label) }}</label>
                                    <div class="col-sm-8">
                                        {{ form_field("slug","slug")|raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-sm-left text-md-right">{{ lang(db_def.category.for_lang.label) }}</label>
                                    <div class="col-sm-8">
                                        {{ form_field("multienum","for_lang","",config.languages,cur_lang)|raw }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-sm-left text-md-right">{{ lang(db_def.category.parent_id.label) }}</label>
                                    <div class="col-sm-8">
                                        {{ form_field("enum","parent_id","",parent_id.options,'',1)|raw }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-sm-left text-md-right">{{ lang(db_def.category.status.label) }}</label>
                                    <div class="col-sm-8">
                                        {{ form_field("enum","status","",lang.app[db_def.category.status.options])|raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label text-sm-left text-md-right">{{ lang(db_def.category.description.label) }}</label>
                                    <div class="col-sm-10">
                                        {{ form_field('editor','description')|raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">{{ lang('LBL_SEO') }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-sm-left text-md-right">{{ lang(db_def.seo.title.label) }}</label>
                                    <div class="col-sm-8">
                                        {{ form_field("text","seo_title")|raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-sm-left text-md-right">{{ lang(db_def.seo.description.label) }}</label>
                                    <div class="col-sm-8">
                                        {{ form_field("textarea","seo_description")|raw }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-sm-left text-md-right">{{ lang(db_def.seo.keyword.label) }}</label>
                                    <div class="col-sm-8">
                                        {{ form_field("textarea","seo_keyword")|raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body buton-action-record">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-info">{{ lang('SAVE') }}</button>
                                <a href="{{ base_url }}/admin/category" class="btn btn-outline-danger">{{ lang('LBL_CANCEL') }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}