{% extends "app/base.twig" %}
{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12 text-center">
                    <h1 class="m-0 text-dark">{{ lang.app.LBL_CREATE_CATEGORY }}</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <form class="form-horizontal" method="post" action="{{ base_url }}/admin/category/create">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">{{ lang.app.LBL_CREATE_CATEGORY }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-sm-left text-md-right">{{ lang.app[database.category.name.label] }} (*)</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="name" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-sm-left text-md-right">{{ lang.app[database.category.slug.label] }}</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="slug"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-sm-left text-md-right">{{ lang.app[database.category.for_lang.label] }}</label>
                                    <div class="col-sm-8">
                                        <select class="form-control select2" multiple="multiple" name="for_lang" style="width: 100%">
                                            {% for key,val in config.languages %}
                                                <option value="{{ key }}">{{ val }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-sm-left text-md-right">{{ lang.app[database.category.parent_id.label] }}</label>
                                    <div class="col-sm-8">
                                        <select class="form-control select2" name="parent_id" style="width: 100%">
                                            <option value="">#</option>
                                            {% for key,val in parent_id.list %}
                                                <option value="{{ key }}">{{ val.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-sm-left text-md-right">{{ lang.app[database.category.status.label] }}</label>
                                    <div class="col-sm-8">
                                        <select class="form-control select2" name="status" style="width: 100%">
                                            {% for key,val in lang.app[database.category.status.options] %}
                                                <option value="{{ key }}">{{ val }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label text-sm-left text-md-right">{{ lang.app[database.category.description.label] }}</label>
                                    <div class="col-sm-10">
                                        <textarea class="ckeditor" name="description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">{{ lang.app.LBL_SEO }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-sm-left text-md-right">{{ lang.app[seo.title.label] }}</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="seo_title"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-sm-left text-md-right">{{ lang.app[seo.description.label] }}</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" name="seo_description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-sm-left text-md-right">{{ lang.app[seo.keyword.label] }}</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" name="seo_keyword"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body buton-action-record">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-info">{{ lang.app.SAVE }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}