<section id="effective" class="sub">
    <div class="effect-img">
        <img src="{{ base_url }}/asokalaw/assets/media/landingpage/effect/background 2.svg">
    </div>
    <div class="container center">
        <div class="row title">
            <h1>Hiệu quả sử dụng dịch vụ pháp lý của Asoka Law</h1>
        </div>
        <div class="effective-content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="content-record">
                        <div class="float-left title-record">
                            <img src="{{ base_url }}/asokalaw/assets/media/landingpage/effect/icon list_1.svg">
                            <h4>Pháp lí theo nhu cầu</h4>
                        </div>
                        <div class="des-record float-right">
                            <p>Chúng tôi tin rằng dịch vụ tốt xuất phát từ sự thấu hiểu nhu cầu của khách
                                hàng. Do vậy, Asoka dành thời gian đóng gói kỹ dịch vụ phù hợp với độ tuổi,
                                ngành nghề kinh doanh của doanh nghiệp. Doanh nghiệp có thể dễ dàng lựa
                                chọn và sử dụng</p>
                        </div>
                    </div>
                    <div class="content-record">
                        <div class="float-left title-record">
                            <img src="{{ base_url }}/asokalaw/assets/media/landingpage/effect/icon list_1.svg">
                            <h4>Giá phí công khai & tiết kiệm</h4>
                        </div>
                        <div class="des-record float-right">
                            <p>Chi phí là vấn đề sống còn của doanh nghiệp. Sử dụng dịch vụ của Asoka giúp
                                doanh nghiệp tiết kiệm được tới 80% chi phí vận hành. Chúng tôi luôn niêm
                                yết công khai giá phí để khách hàng có thể ước tính ngân sách phù hợp.</p>
                        </div>
                    </div>
                    <div class="content-record">
                        <div class="float-left title-record">
                            <img src="{{ base_url }}/asokalaw/assets/media/landingpage/effect/icon list_1.svg">
                            <h4> Mạng lưới luật sư rộng khắp</h4>
                        </div>
                        <div class="des-record float-right">
                            <p>Chúng tôi lựa chọn hợp tác với những luật sư và cố vấn tài năng từ các tập đoàn
                                danh tiếng. Kinh nghiệm chuyên sâu của họ ở nhiều lĩnh vực đặc thù là yếu tố
                                then chốt làm nên chiến thắng cho khách hàng ở nhiều vụ việc.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img class="effective-img" src="{{ base_url }}/asokalaw/assets/media/landingpage/effect/ảnh-video.png">
                </div>
            </div>
        </div>
    </div>
</section>