{% extends "asokalaw/base.twig" %}
{% block content %}
    <section id="service" class="sub">
        <div class="container">
            <div class="row title">
                <h1>Dịch vụ được sử dụng nhiều nhất</h1>
            </div>
            <div class="row list-service sub flex-center-hor">
                <div class="service-item ">
                    <div class="content">
                        <img src="{{ base_url }}/asokalaw/assets/media/DVPB/TVLS.svg">
                        <p class="title">Tư vấn trực tuyến</p>
                        <p class="sub-title"><b>Đã sử dụng:</b> 2.385 lượt</p>
                        <p class="sub-title"><b>Giá phí tử:</b> 200.000 VNĐ</p>
                    </div>
                    <hr class="horizontal">
                </div>
                <div>
                    <hr class="vertical">
                </div>

                <div class="service-item ">
                    <div class="content">
                        <img src="{{ base_url }}/asokalaw/assets/media/DVPB/DKKD.svg">
                        <p class="title">Đăng kí kinh doanh</p>
                        <p class="sub-title"><b>Đã sử dụng:</b> 2.385 lượt</p>
                        <p class="sub-title"><b>Giá phí tử:</b> 200.000 VNĐ</p>
                    </div>
                    <hr class="horizontal">
                </div>
                <div>
                    <hr class="vertical">
                </div>
                <div class="service-item ">
                    <div class="content">
                        <img src="{{ base_url }}/asokalaw/assets/media/DVPB/PLTX.svg">
                        <p class="title">Pháp lí thường xuyên</p>
                        <p class="sub-title"><b>Đã sử dụng:</b> 2.385 lượt</p>
                        <p class="sub-title"><b>Giá phí tử:</b> 200.000 VNĐ</p>
                    </div>
                    <hr class="horizontal">
                </div>
            </div>
            <div class="row list-service flex-center-hor">
                <div class="service-item ">
                    <div class="content-2">
                        <img src="{{ base_url }}/asokalaw/assets/media/DVPB/DKNH.svg">
                        <p class="title">Đăng kí nhãn hiệu</p>
                        <p class="sub-title"><b>Đã sử dụng:</b> 2.385 lượt</p>
                        <p class="sub-title"><b>Giá phí tử:</b> 200.000 VNĐ</p>
                    </div>
                </div>
                <div>
                    <hr class="vertical">
                </div>

                <div class="service-item ">
                    <div class="content-2">
                        <img src="{{ base_url }}/asokalaw/assets/media/DVPB/PLSK.svg">
                        <p class="title">Pháp lý sự kiên</p>
                        <p class="sub-title"><b>Đã sử dụng:</b> 2.385 lượt</p>
                        <p class="sub-title"><b>Giá phí tử:</b> 200.000 VNĐ</p>
                    </div>
                </div>
                <div>
                    <hr class="vertical">
                </div>
                <div class="service-item ">
                    <div class="content-2">
                        <img src="{{ base_url }}/asokalaw/assets/media/DVPB/XLTT.svg">
                        <p class="title">Xử lý tranh chấp</p>
                        <p class="sub-title"><b>Đã sử dụng:</b> 2.385 lượt</p>
                        <p class="sub-title"><b>Giá phí tử:</b> 200.000 VNĐ</p>
                    </div>
                </div>
            </div>
            <div class="flex-center-hor">
                <button type="button" class="btn btn-warning btn-custom">ĐĂNG KÝ DỊCH VỤ</button>
            </div>
        </div>
    </section>
    <section id="asoka-description" class="sub">
        <div class="container center">
            <div class="row">
                <div class="background-icon">
                    <img src="{{ base_url }}/asokalaw/assets/media/feedback/Dấu%20ngoặc%20kép.svg">
                </div>
                <div class="col-lg-8 flex-center-vertically">
                    <div class="slide-asoka-des">
                        <div class="slide-item">
                            <div class="content">
                                <div class="des-record">
                                    <p>Luật sư Asoka có kiến thức cực kỳ chuyên sâu về lĩnh vực mình cần tham vấn, giúp mình
                                        xác nhận được những ý kiến pháp luật mình muốn tìm hiểu. Tư vấn súc tích, nhiệt tình
                                        và tin cậy. Mình cũng đã nhờ Asoka Law thực hiện các thủ tục pháp lý cho công ty riêng
                                        của mình sau đó</p>
                                </div>
                                <hr>
                                <div class="des-record ">
                                    <p class="font-weight-bold normal">NGUYỄN QUANG MINH</p>
                                    <p class="text-color">Giám đốc Thiên Kỳ Technology</p>
                                </div>
                            </div>
                        </div>
                        <div class="slide-item">
                            <div class="content">
                                <div class="des-record">
                                    <p>Luật sư Asoka có kiến thức cực kỳ chuyên sâu về lĩnh vực mình cần tham vấn, giúp mình
                                        xác nhận được những ý kiến pháp luật mình muốn tìm hiểu. Tư vấn súc tích, nhiệt tình
                                        và tin cậy. Mình cũng đã nhờ Asoka Law thực hiện các thủ tục pháp lý cho công ty riêng
                                        của mình sau đó</p>
                                </div>
                                <hr>
                                <div class="des-record ">
                                    <p class="font-weight-bold normal">NGUYỄN QUANG MINH</p>
                                    <p class="text-color">Giám đốc Thiên Kỳ Technology</p>
                                </div>
                            </div>
                        </div>
                        <div class="slide-item">
                            <div class="content">
                                <div class="des-record">
                                    <p>Luật sư Asoka có kiến thức cực kỳ chuyên sâu về lĩnh vực mình cần tham vấn, giúp mình
                                        xác nhận được những ý kiến pháp luật mình muốn tìm hiểu. Tư vấn súc tích, nhiệt tình
                                        và tin cậy. Mình cũng đã nhờ Asoka Law thực hiện các thủ tục pháp lý cho công ty riêng
                                        của mình sau đó</p>
                                </div>
                                <hr>
                                <div class="des-record ">
                                    <p class="font-weight-bold normal">NGUYỄN QUANG MINH</p>
                                    <p class="text-color">Giám đốc Thiên Kỳ Technology</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-user">
                        <img src="{{ base_url }}/asokalaw/assets/media/feedback/KH.svg">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="price-list" class="sub">
        <div class="container center">
            <div class="row title">
                <h1>Asoka Law được tin dùng bởi +3500 doanh nghiệp</h1>
            </div>
            <div class="des-record sub center">
                <p>Từ công ty khởi nghiệp cho đến công ty hoạt động trên 03 năm đều dễ dàng tìm thấy các dịch vụ pháp lý thiết yếu tại Asoka Law.</p>
                <p>Đóng gói chặt chẽ theo độ tuổi doanh nghiệp/lĩnh vực kinh doanh, tư vấn nhiệt tình, thực hiện tận tâm.</p>
                <p>Asoka Law đã hỗ trợ khách hàng kinh doanh thành công từ 2015 cho đến nay.</p>
            </div>
            <div class="row sub">
                <div class="col-lg-3 container">
                    <div class="price-list-item">
                        <img src="{{ base_url }}/asokalaw/assets/media/price/1.svg">
                        <h5>Khởi tạo doanh nghiệp</h5>
                        <div class="price-list-price">
                            <p><sup>Từ</sup>200.000<sup>VNĐ</sup></p>
                        </div>
                        <p class="sub-title">Dịch vụ phổ biến</p>
                        <div class="list-rule">
                            <p><i class="fa fa-caret-right"></i> Đăng kí kinh doanh</p>
                            <p><i class="fa fa-caret-right"></i> Đăng kí đầu tư</p>
                            <p><i class="fa fa-caret-right"></i> Tư vấn trực tuyến</p>
                        </div>
                        <div class="center">
                            <button type="button" class="btn btn-custom">Đăng kí ngay</button>
                        </div>
                    </div>
                </div>
                <!--            <div class="col-lg-3 container">-->
                <!--                <div class="price-list-item">-->
                <!--                    <img src="assets/price/2.svg">-->
                <!--                    <h5>Doanh nghiệp dưới 01 năm</h5>-->
                <!--                    <div class="price-list-price sub">-->
                <!--                        <p><sup>Từ</sup>200.000<sup>VNĐ</sup></p>-->
                <!--                    </div>-->
                <!--                    <p class="sub-title">Dịch vụ phổ biến</p>-->
                <!--                    <div class="list-rule">-->
                <!--                        <p><i class="fa fa-caret-right"></i>  Pháp lý thường xuyên</p>-->
                <!--                        <p><i class="fa fa-caret-right"></i>  Tư vấn chuyên sâu</p>-->
                <!--                        <p><i class="fa fa-caret-right"></i>  Thay đổi kinh doanh</p>-->
                <!--                    </div>-->
                <!--                    <div class="center">-->
                <!--                        <button type="button" class="btn btn-custom">Đăng kí ngay</button>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--            </div>-->
                <div class="col-lg-3 container">
                    <div class="price-list-item">
                        <img src="{{ base_url }}/asokalaw/assets/media/price/3.svg">
                        <h5>Doanh nghiệp 01 đến 03 năm</h5>
                        <div class="price-list-price">
                            <p><sup>Từ</sup>1.990.000<sup>VNĐ</sup></p>
                        </div>
                        <p class="sub-title">Dịch vụ phổ biến</p>
                        <div class="list-rule">
                            <p><i class="fa fa-caret-right"></i> Pháp lý thường xuyên</p>
                            <p><i class="fa fa-caret-right"></i> Tư vấn chuyên sâu</p>
                            <p><i class="fa fa-caret-right"></i> Mở rộng kinh doanh</p>
                        </div>
                        <div class="center">
                            <button type="button" class="btn btn-custom">Đăng kí ngay</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 container">
                    <div class="price-list-item">
                        <img src="{{ base_url }}/asokalaw/assets/media/price/4.svg">
                        <h5>Doanh nghiệp trên 03 năm</h5>
                        <div class="price-list-price">
                            <p><sup>Từ</sup>2.990.000<sup>VNĐ</sup></p>
                        </div>
                        <p class="sub-title">Dịch vụ phổ biến</p>
                        <div class="list-rule">
                            <p><i class="fa fa-caret-right"></i> Nhượng quyền thương mại</p>
                            <p><i class="fa fa-caret-right"></i> Tư vấn chuyên sâu</p>
                            <p><i class="fa fa-caret-right"></i> Xử lý tranh chấp</p>
                        </div>
                        <div class="center">
                            <button type="button" class="btn btn-custom">Đăng kí ngay</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="team" class="sub">
        <div class="container center">
            <div class="effective-content">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="list-slide-team">
                            <div class="slide-item">
                                <div class=" team-user">
                                    <img src="{{ base_url }}/asokalaw/assets/media/team/LSTD.png">
                                    <div class="user-name center">
                                        <p>Luật sư <b class="name">Tâm Dương</b></p>
                                    </div>
                                    <p class="job">Truyền thông - Sự kiện</p>
                                </div>
                            </div>
                            <div class="slide-item">
                                <div class=" team-user">
                                    <img src="{{ base_url }}/asokalaw/assets/media/team/LSNST.png">
                                    <div class="user-name center">
                                        <p>Luật sư <b class="name">Nguyễn Sơn Trà</b></p>
                                    </div>
                                    <p class="job">Tranh chấp dân sự - Thương mại</p>
                                </div>
                            </div>
                            <div class="slide-item">
                                <div class=" team-user">
                                    <img src="{{ base_url }}/asokalaw/assets/media/team/LSNST.png">
                                    <div class="user-name center">
                                        <p>Luật sư <b class="name">Nguyễn Sơn Trà</b></p>
                                    </div>
                                    <p class="job">Tranh chấp dân sự - Thương mại</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 title">
                        <h1>Đội ngũ luật sư và cố vấn của Asoka Law</h1>
                        <div class="sub des-record">
                            <p>Không chỉ có luật sư/chuyên viên trực tiếp làm việc tại Văn Phòng nhằm
                                giải quyết các vấn đề pháp lý phổ biến cho doanh nghiệp, Asoka Law còn
                                có mối quan hệ hợp tác với các luật sư/cố vấn tại các chuyên ngành cần
                                chuyên môn sâu nhằm hỗ trợ khách hàng giải quyết tốt nhất ở các hồ sơ
                                đặc thù. Chúng tôi tự hào có mối quan hệ hợp tác với trên 30 luật sư/cố
                                vấn chuyên môn ở các lĩnh vực như: hàng hải, bảo hiểm, truyền thông,
                                nhượng quyền</p>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="statistical" class="sub">
        <div class="container">
            <div class="row">
                <div class="">
                    <div class="statistical-number">86</div>
                    <hr>
                    <div class="statistical-label">VỤ VIỆC ĐÃ ĐẠI DIỆN</div>
                </div>
                <div class="">
                    <div class="statistical-number">2358</div>
                    <hr>
                    <div class="statistical-label">GIỜ ĐÃ TƯ VẤN</div>
                </div>
                <div class="">
                    <div class="statistical-number">3500</div>
                    <hr>
                    <div class="statistical-label">LƯỢT SỬ DỤNG DỊCH VỤ</div>
                </div>
            </div>
        </div>

    </section>
    <section id="effective" class="sub">
        <div class="effect-img">
            <img src="{{ base_url }}/asokalaw/assets/media/effect/background 2.svg">
        </div>
        <div class="container center">
            <div class="row title">
                <h1>Hiệu quả sử dụng dịch vụ pháp lý của Asoka Law</h1>
            </div>
            <div class="effective-content">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="content-record">
                            <div class="float-left title-record">
                                <img src="{{ base_url }}/asokalaw/assets/media/effect/icon list_1.svg">
                                <h4>Pháp lí theo nhu cầu</h4>
                            </div>
                            <div class="des-record float-right">
                                <p>Chúng tôi tin rằng dịch vụ tốt xuất phát từ sự thấu hiểu nhu cầu của khách
                                    hàng. Do vậy, Asoka dành thời gian đóng gói kỹ dịch vụ phù hợp với độ tuổi,
                                    ngành nghề kinh doanh của doanh nghiệp. Doanh nghiệp có thể dễ dàng lựa
                                    chọn và sử dụng</p>
                            </div>
                        </div>
                        <div class="content-record">
                            <div class="float-left title-record">
                                <img src="{{ base_url }}/asokalaw/assets/media/effect/icon list_1.svg">
                                <h4>Giá phí công khai & tiết kiệm</h4>
                            </div>
                            <div class="des-record float-right">
                                <p>Chi phí là vấn đề sống còn của doanh nghiệp. Sử dụng dịch vụ của Asoka giúp
                                    doanh nghiệp tiết kiệm được tới 80% chi phí vận hành. Chúng tôi luôn niêm
                                    yết công khai giá phí để khách hàng có thể ước tính ngân sách phù hợp.</p>
                            </div>
                        </div>
                        <div class="content-record">
                            <div class="float-left title-record">
                                <img src="{{ base_url }}/asokalaw/assets/media/effect/icon list_1.svg">
                                <h4> Mạng lưới luật sư rộng khắp</h4>
                            </div>
                            <div class="des-record float-right">
                                <p>Chúng tôi lựa chọn hợp tác với những luật sư và cố vấn tài năng từ các tập đoàn
                                    danh tiếng. Kinh nghiệm chuyên sâu của họ ở nhiều lĩnh vực đặc thù là yếu tố
                                    then chốt làm nên chiến thắng cho khách hàng ở nhiều vụ việc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <img class="effective-img" src="{{ base_url }}/asokalaw/assets/media/effect/ảnh-video.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'asokalaw/home/partner.twig' %}
    <section id="slide-info" class="sub">
        <div class="container center">
            <div class="row title">
                <h1>Tin tức mới nhất từ Asoka Law</h1>
            </div>
            <div class="list-slide">
                <div class="slide-item">
                    <div class="container">
                        <div class="btn-time">28 THÁNG 02 - 2020</div>
                    </div>
                    <div>
                        <img class="img-info" src="{{ base_url }}/asokalaw/assets/media/news/1.jpg">
                    </div>
                    <div class="title-info">
                        <h4>Những bài học "đắt giá" của
                            thương hiệu Việt</h4>
                    </div>
                    <div class="title-des">
                        <p>Thương hiệu, một tài sản của doanh nghiệp dễ bị
                            “bắt cóc” nhưng lại hay bị lãng quên. Dù đã được
                            cảnh tỉnh bởi các cơ quan chức năng nhưng...</p>
                    </div>

                </div>
                <div class="slide-item">
                    <div class="container">
                        <div class="btn-time">28 THÁNG 02 - 2020</div>
                    </div>
                    <div>
                        <img class="img-info" src="{{ base_url }}/asokalaw/assets/media/news/2.jpg">
                    </div>
                    <div class="title-info">
                        <h4>Hướng dẫn thủ tục thành lập
                            doanh nghiệp 6 loại hình cơ bản</h4>
                    </div>
                    <div class="title-des">
                        <p>Thủ tục để mở một công ty mới hiện nay cũng
                            được đơn giản hoá hơn rất nhiều. Chỉ cần một
                            chiếc máy vi tính có kết nối mạng internet...</p>
                    </div>

                </div>
                <div class="slide-item">
                    <div class="container">
                        <div class="btn-time">28 THÁNG 02 - 2020</div>
                    </div>
                    <div>
                        <img class="img-info" src="{{ base_url }}/asokalaw/assets/media/news/3.jpg">
                    </div>
                    <div class="title-info">
                        <h4>Recruitment of Legal Specialists
                            - Round 1/2020</h4>
                    </div>
                    <div class="title-des">
                        <p>
                            Currently, Asoka is looking for five legal specialists
                            to carry out tasks in the legal segment of Enterprise-Investment...
                        </p>
                    </div>

                </div>
                <div class="slide-item">
                    <div class="container">
                        <div class="btn-time">28 THÁNG 02 - 2020</div>
                    </div>
                    <div>
                        <img class="img-info" src="{{ base_url }}/asokalaw/assets/media/news/1.jpg">
                    </div>
                    <div class="title-info">
                        <h4>Những bài học "đắt giá" của
                            thương hiệu Việt</h4>
                    </div>
                    <div class="title-des">
                        <p>Thương hiệu, một tài sản của doanh nghiệp dễ bị
                            “bắt cóc” nhưng lại hay bị lãng quên. Dù đã được
                            cảnh tỉnh bởi các cơ quan chức năng nhưng...</p>
                    </div>

                </div>
            </div>
            <div class="info-see-all">
                <a>Xem tất cả tin tức >></a>
                <hr>
            </div>
        </div>
    </section>
    <section id="slide-video" class="sub">
        <div class="container">
            <div class="row">
                <h4>Video được xem nhiều nhất</h4>
            </div>
            <div class="list-slide-video">
                <div class="slide-item">
                    <img src="{{ base_url }}/asokalaw/assets/media/video/play.svg" class="btn-play">
                    <video height="100%" width="100%" poster="{{ base_url }}/asokalaw/assets/media/video/vid3.svg" controls>
                        <source src="https://www.youtube.com/embed/bb42zrvKOWQ" type="video/mp4">
                    </video>
                    <div><img class="icon float-left" src="{{ base_url }}/asokalaw/assets/media/video/viewicon.svg">
                        <p> 2k3 lượt xem</p></div>
                </div>
                <div class="slide-item">
                    <img src="{{ base_url }}/asokalaw/assets/media/video/play.svg" class="btn-play">
                    <video height="100%" width="100%" poster="{{ base_url }}/asokalaw/assets/media/video/vid3.svg" controls>
                        <source src="https://www.youtube.com/embed/bb42zrvKOWQ" type="video/mp4">
                    </video>
                    <div><img class="icon float-left" src="{{ base_url }}/asokalaw/assets/media/video/viewicon.svg">
                        <p> 2k3 lượt xem</p></div>
                </div>
                <div class="slide-item">
                    <img src="{{ base_url }}/asokalaw/assets/media/video/play.svg" class="btn-play">
                    <video height="100%" width="100%" poster="{{ base_url }}/asokalaw/assets/media/video/vid3.svg" controls>
                        <source src="https://www.youtube.com/embed/bb42zrvKOWQ" type="video/mp4">
                    </video>
                    <div><img class="icon float-left" src="{{ base_url }}/asokalaw/assets/media/video/viewicon.svg">
                        <p> 2k3 lượt xem</p></div>
                </div>
                <div class="slide-item">
                    <img src="{{ base_url }}/asokalaw/assets/media/video/play.svg" class="btn-play">
                    <video height="100%" width="100%" poster="{{ base_url }}/asokalaw/assets/media/video/vid3.svg" controls>
                        <source src="https://www.youtube.com/embed/bb42zrvKOWQ" type="video/mp4">
                    </video>
                    <div><img class="icon float-left" src="{{ base_url }}/asokalaw/assets/media/video/viewicon.svg">
                        <p> 2k3 lượt xem</p></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}