<section id="service" class="sub">
    <div class="container">
        <div class="row title">
            <h1>Dịch vụ được sử dụng nhiều nhất</h1>
        </div>
        <div class="row list-service sub flex-center-hor">
            <div class="service-item ">
                <div class="content">
                    <img src="{{ base_url }}/asokalaw/assets/media/landingpage/DVPB/TVLS.svg">
                    <p class="title">Tư vấn trực tuyến</p>
                    <p class="sub-title"><b>Đã sử dụng:</b> 2.385 lượt</p>
                    <p class="sub-title"><b>Giá phí tử:</b> 200.000 VNĐ</p>
                </div>
                <hr class="horizontal">
            </div>
            <div>
                <hr class="vertical">
            </div>

            <div class="service-item ">
                <div class="content">
                    <img src="{{ base_url }}/asokalaw/assets/media/landingpage/DVPB/DKKD.svg">
                    <p class="title">Đăng kí kinh doanh</p>
                    <p class="sub-title"><b>Đã sử dụng:</b> 2.385 lượt</p>
                    <p class="sub-title"><b>Giá phí tử:</b> 200.000 VNĐ</p>
                </div>
                <hr class="horizontal">
            </div>
            <div>
                <hr class="vertical">
            </div>
            <div class="service-item ">
                <div class="content">
                    <img src="{{ base_url }}/asokalaw/assets/media/landingpage/DVPB/PLTX.svg">
                    <p class="title">Pháp lí thường xuyên</p>
                    <p class="sub-title"><b>Đã sử dụng:</b> 2.385 lượt</p>
                    <p class="sub-title"><b>Giá phí tử:</b> 200.000 VNĐ</p>
                </div>
                <hr class="horizontal">
            </div>
        </div>
        <div class="row list-service flex-center-hor">
            <div class="service-item ">
                <div class="content-2">
                    <img src="{{ base_url }}/asokalaw/assets/media/landingpage/DVPB/DKNH.svg">
                    <p class="title">Đăng kí nhãn hiệu</p>
                    <p class="sub-title"><b>Đã sử dụng:</b> 2.385 lượt</p>
                    <p class="sub-title"><b>Giá phí tử:</b> 200.000 VNĐ</p>
                </div>
            </div>
            <div>
                <hr class="vertical">
            </div>

            <div class="service-item ">
                <div class="content-2">
                    <img src="{{ base_url }}/asokalaw/assets/media/landingpage/DVPB/PLSK.svg">
                    <p class="title">Pháp lý sự kiên</p>
                    <p class="sub-title"><b>Đã sử dụng:</b> 2.385 lượt</p>
                    <p class="sub-title"><b>Giá phí tử:</b> 200.000 VNĐ</p>
                </div>
            </div>
            <div>
                <hr class="vertical">
            </div>
            <div class="service-item ">
                <div class="content-2">
                    <img src="{{ base_url }}/asokalaw/assets/media/landingpage/DVPB/XLTT.svg">
                    <p class="title">Xử lý tranh chấp</p>
                    <p class="sub-title"><b>Đã sử dụng:</b> 2.385 lượt</p>
                    <p class="sub-title"><b>Giá phí tử:</b> 200.000 VNĐ</p>
                </div>
            </div>
        </div>
        <div class="flex-center-hor">
            <button type="button" class="btn btn-warning btn-custom">ĐĂNG KÝ DỊCH VỤ</button>
        </div>
    </div>
</section>