<section id="slide-video" class="sub">
    <div class="container">
        <div class="row">
            <h4>Video được xem nhiều nhất</h4>
        </div>
        <div class="list-slide-video">
            <div class="slide-item">
                <img src="{{ base_url }}/asokalaw/assets/media/landingpage/video/play.svg" class="btn-play">
                <video height="100%" width="100%" poster="{{ base_url }}/asokalaw/assets/media/landingpage/video/vid3.svg" controls>
                    <source src="https://www.youtube.com/embed/bb42zrvKOWQ" type="video/mp4">
                </video>
                <div><img class="icon float-left" src="{{ base_url }}/asokalaw/assets/media/landingpage/video/viewicon.svg">
                    <p> 2k3 lượt xem</p></div>
            </div>
            <div class="slide-item">
                <img src="{{ base_url }}/asokalaw/assets/media/landingpage/video/play.svg" class="btn-play">
                <video height="100%" width="100%" poster="{{ base_url }}/asokalaw/assets/media/landingpage/video/vid3.svg" controls>
                    <source src="https://www.youtube.com/embed/bb42zrvKOWQ" type="video/mp4">
                </video>
                <div><img class="icon float-left" src="{{ base_url }}/asokalaw/assets/media/landingpage/video/viewicon.svg">
                    <p> 2k3 lượt xem</p></div>
            </div>
            <div class="slide-item">
                <img src="{{ base_url }}/asokalaw/assets/media/landingpage/video/play.svg" class="btn-play">
                <video height="100%" width="100%" poster="{{ base_url }}/asokalaw/assets/media/landingpage/video/vid3.svg" controls>
                    <source src="https://www.youtube.com/embed/bb42zrvKOWQ" type="video/mp4">
                </video>
                <div><img class="icon float-left" src="{{ base_url }}/asokalaw/assets/media/landingpage/video/viewicon.svg">
                    <p> 2k3 lượt xem</p></div>
            </div>
            <div class="slide-item">
                <img src="{{ base_url }}/asokalaw/assets/media/landingpage/video/play.svg" class="btn-play">
                <video height="100%" width="100%" poster="{{ base_url }}/asokalaw/assets/media/landingpage/video/vid3.svg" controls>
                    <source src="https://www.youtube.com/embed/bb42zrvKOWQ" type="video/mp4">
                </video>
                <div><img class="icon float-left" src="{{ base_url }}/asokalaw/assets/media/landingpage/video/viewicon.svg">
                    <p> 2k3 lượt xem</p></div>
            </div>
        </div>
    </div>
</section>