<section id="bestlawyers" class="sub">
    <div class="container-fluid" style="padding-top: 50px">
        <div class="row">
            <div class="col-md-7">
                <div class="lawyer-left">
                    <h1 class="padding-record-title"><b>Top các luật sư giỏi nhất<br>
                            luôn sẵn sàng giải đáp cho bạn</b></h1>
                    <div class="padding-record">
                        <span class="float-left circle-blur"><i class="fa fa-circle"></i></span>
                        <p class="unit align-left">Các luật sư/cố vấn chuyên môn sâu có <b>hơn 10 năm kinh nghiệm</b> tư
                            vấn pháp
                            lý/giải pháp chuyên
                            ngành cho trên +3500 doanh nghiệp</p>
                    </div>
                    <div class="padding-record">
                        <span class="float-left circle-blur"><i class="fa fa-circle"></i></span>
                        <p class="unit align-left">Đội ngũ luật sư và cố vấn được Asoka Law chọn lọc, nắm giữ các vị trí
                            nhân sự điều hành tại các tập đoàn lớn của quốc gia và quốc tế</p>
                    </div>
                    <div class="padding-record">
                        <span class="float-left circle-blur"><i class="fa fa-circle"></i></span>
                        <p class="unit align-left">Chúng tôi đưa ra giải pháp tốt nhất cho vấn đề của doanh nghiệp dựa
                            trên quy định pháp lý và thực tiễn, giúp <b>gia tăng 200% khả năng thành công</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="record" style="    height: 160px;">
                    <img src="{{ base_url }}/asokalaw/assets/media/TVLS/bestlawyes/LS Tâm.jpg" class="float-left"
                         style="padding-left: 10px; height: 130px; width: auto;">
                    <div class="unit align-left padding-left">
                        <p style="font-size: 19px; font-weight: 300;">Luật sư <b>Tâm Dương</b></p>
                        <p style="font-size: 15px; font-weight: 100;">Tư vấn doanh nghiệp, đầu tư, hợp đồng</p>
                        <br>
                        <p>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </p>
                        <p class="btn-link link-lawyers">168 lượt đặt tư vấn</p>
                    </div>
                </div>
                <div class="record" style="    height: 160px;">
                    <img src="{{ base_url }}/asokalaw/assets/media/TVLS/bestlawyes/LS Tài.jpg" class="float-left"
                         style="padding-left: 10px; height: 130px; width: auto;">
                    <div class="unit align-left padding-left">
                        <p style="font-size: 19px; font-weight: 300;">Luật sư <b>Đặng Thành Tài</b></p>
                        <p style="font-size: 15px; font-weight: 100;">Tư vấn đầu tư, xử lý tranh chấp thương mại</p>
                        <br>
                        <p>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </p>
                        <p class="btn-link link-lawyers">159 lượt đặt tư vấn</p>
                    </div>
                </div>
                <div class="record" style="    height: 160px;">
                    <img src="{{ base_url }}/asokalaw/assets/media/TVLS/bestlawyes/LS Trà.jpg" class="float-left"
                         style="padding-left: 10px; height: 130px; width: auto;">
                    <div class="unit align-left padding-left">
                        <p style="font-size: 19px; font-weight: 300;">Luật sư <b>Nguyễn Sơn Trà</b></p>
                        <p style="font-size: 15px; font-weight: 100;">Tư vấn doanh nghiệp, đầu tư lao động</p>
                        <br>
                        <p>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </p>
                        <p class="btn-link link-lawyers">261 lượt đặt tư vấn</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-color: rgba(63,63,63,0.17);">
        <div class="row">
            <h6 class="title-info">Luật sư của chúng tôi có kinh nghiệm làm việc cho các công ty, tập đoàn lớn trong
                nước và quốc tế</h6>
        </div>
        <div class="row">
            <div class="col-md-12 brand-logo">
                <img src="{{ base_url }}/asokalaw/assets/media/TVLS/bestlawyes/Asset 5.svg">
                <img src="{{ base_url }}/asokalaw/assets/media/TVLS/bestlawyes/Asset 6.svg">
                <img src="{{ base_url }}/asokalaw/assets/media/TVLS/bestlawyes/Asset 7.svg">
                <img src="{{ base_url }}/asokalaw/assets/media/TVLS/bestlawyes/Asset 8.svg">
                <img src="{{ base_url }}/asokalaw/assets/media/TVLS/bestlawyes/Asset 9.svg">
                <img src="{{ base_url }}/asokalaw/assets/media/TVLS/bestlawyes/Asset 10.svg">
                <img src="{{ base_url }}/asokalaw/assets/media/TVLS/bestlawyes/Asset 11.svg">
            </div>

        </div>
    </div>
</section>