<section id="business-size" class="sub">
    <div class="container center">
        <div class="row title">
            <h1>Đội ngũ luật sư & cố vấn phù hợp cho bạn</h1>
        </div>
        <div class="controller-tabs-popular">
            <div data-target="#menu1">
                <img src="{{base_url}}/asokalaw/assets/media/TVLS/business-size/LS Bình.jpg">
            </div>
            <div class="active" data-target="#menu2">
                <img src="{{base_url}}/asokalaw/assets/media/TVLS/business-size/LS Trà.jpg">
            </div>
            <div data-target="#menu3">
                <img src="{{base_url}}/asokalaw/assets/media/TVLS/business-size/LS Tài.jpg">
            </div>
            <div data-target="#menu4">
                <img src="{{base_url}}/asokalaw/assets/media/TVLS/business-size/LS Tâm.jpg">
            </div>
            <div data-target="#menu1">
                <img src="{{base_url}}/asokalaw/assets/media/TVLS/business-size/LS Bình.jpg">
            </div>
            <div data-target="#menu2">
                <img src="{{base_url}}/asokalaw/assets/media/TVLS/business-size/LS Trà.jpg">
            </div>
            <div data-target="#menu3">
                <img src="{{base_url}}/asokalaw/assets/media/TVLS/business-size/LS Tài.jpg">
            </div>
            <div data-target="#menu4">
                <img src="{{base_url}}/asokalaw/assets/media/TVLS/business-size/LS Tâm.jpg">
            </div>
            </ul>
        </div>
    </div>
    <div class="tab-content sub info-panel">
        <div class="container-fluid">
            <div id="menu1" class="tab-pane-business center row">
                <div class="col-md-4">
                    <img src="{{base_url}}/asokalaw/assets/media/TVLS/business-size/Asset 3.svg">
                    <div class="profile-business">
                        <p class="title-business">Luật sư</p>
                        <p class="name-business">Bình</p>

                        <p class="blockquote-business"><i>"Luật sư Tâm mạnh về tổng quát, chiến lược và sáng tạo. Cô ấy
                                đơn giản hóa mọi thứ, chú
                                trọng giải quyết công việc bằng các
                                giải pháp rõ ràng, linh hoạt."</i></p>
                        <p class="start-business">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </p>
                        <p class="btn-link btn-business">168 lượt đặt tư vấn</p>
                    </div>
                </div>
                <div class="col-md-4" style="text-align: left;padding-top: 4%;">

                    <div style="padding-right: 16%;
    /* margin-right: 0px; */
    width: 80%;
    border-right: 1px solid;">
                        <h5 style="color: #00c4ffbf">Kinh nghiệm làm việc</h5>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">11 năm kinh nghiệm trong lĩnh vực pháp lý doanh nghiệp và dân sự</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Cố vấn pháp lý trên 30 dự án về nghệ thuật/thương mại/truyền thông</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Tư vấn nhượng quyền và xử lý tranh chấp nhượng quyền thương mại</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Luật sư đại diện tham gia trên 100 phiên toà cho doanh nghiệp</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Thực hiện trên 100 giờ đào tạo về pháp lý doanh nghiệp/pháp lý sự
                                kiện</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="text-align: left;padding-top: 4%;">

                    <div style="padding-right: 16%;">
                        <h5 style="color: #00c4ffbf;">Bằng cấp & ngôn ngữ</h5>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Cử nhân Luật Thương Mại, Đại học Luật Tp. Hồ Chí Minh</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Chứng chỉ hành nghề Luật sư, Học Viện Tư Pháp</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Luật sư thành viên - Đoàn Luật sư Tp. Hồ Chí Minh</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Luật sư thành viên - Liên Đoàn Luật sư Việt Nam</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Ngôn ngữ giao tiếp: Anh/Việt</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class=" btn btn-warning padding" style="color: white" type="button">Đặt luật sư tư vấn
                        ngay
                    </button>
                </div>
            </div>


        </div>
        <div class="container-fluid">
            <div id="menu2" class="tab-pane-business center row" style="display: flex">
                <div class="col-md-4">
                    <img src="{{base_url}}/asokalaw/assets/media/TVLS/business-size/Asset 3.svg">
                    <div class="profile-business">
                        <p class="title-business">Luật sư</p>
                        <p class="name-business">Trà</p>

                        <p class="blockquote-business"><i>"Luật sư Tâm mạnh về tổng quát, chiến lược và sáng tạo. Cô ấy
                                đơn giản hóa mọi thứ, chú
                                trọng giải quyết công việc bằng các
                                giải pháp rõ ràng, linh hoạt."</i></p>
                        <p class="start-business">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </p>
                        <p class="btn-link btn-business">168 lượt đặt tư vấn</p>
                    </div>
                </div>
                <div class="col-md-4" style="text-align: left;padding-top: 4%;">

                    <div style="padding-right: 16%;
    /* margin-right: 0px; */
    width: 80%;
    border-right: 1px solid;">
                        <h5 style="color: #00c4ffbf">Kinh nghiệm làm việc</h5>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">11 năm kinh nghiệm trong lĩnh vực pháp lý doanh nghiệp và dân sự</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Cố vấn pháp lý trên 30 dự án về nghệ thuật/thương mại/truyền thông</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Tư vấn nhượng quyền và xử lý tranh chấp nhượng quyền thương mại</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Luật sư đại diện tham gia trên 100 phiên toà cho doanh nghiệp</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Thực hiện trên 100 giờ đào tạo về pháp lý doanh nghiệp/pháp lý sự
                                kiện</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="text-align: left;padding-top: 4%;">

                    <div style="padding-right: 16%;">
                        <h5 style="color: #00c4ffbf;">Bằng cấp & ngôn ngữ</h5>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Cử nhân Luật Thương Mại, Đại học Luật Tp. Hồ Chí Minh</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Chứng chỉ hành nghề Luật sư, Học Viện Tư Pháp</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Luật sư thành viên - Đoàn Luật sư Tp. Hồ Chí Minh</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Luật sư thành viên - Liên Đoàn Luật sư Việt Nam</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Ngôn ngữ giao tiếp: Anh/Việt</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class=" btn btn-warning padding" style="color: white" type="button">Đặt luật sư tư vấn
                        ngay
                    </button>
                </div>

            </div>
        </div>
        <div class="container-fluid">
            <div id="menu3" class="tab-pane-business center row">
                <div class="col-md-4">
                    <img src="{{base_url}}/asokalaw/assets/media/TVLS/business-size/Asset 3.svg">
                    <div class="profile-business">
                        <p class="title-business">Luật sư</p>
                        <p class="name-business">Tài</p>

                        <p class="blockquote-business"><i>"Luật sư Tâm mạnh về tổng quát, chiến lược và sáng tạo. Cô ấy
                                đơn giản hóa mọi thứ, chú
                                trọng giải quyết công việc bằng các
                                giải pháp rõ ràng, linh hoạt."</i></p>
                        <p class="start-business">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </p>
                        <p class="btn-link btn-business">168 lượt đặt tư vấn</p>
                    </div>
                </div>
                <div class="col-md-4" style="text-align: left;padding-top: 4%;">

                    <div style="padding-right: 16%;
    /* margin-right: 0px; */
    width: 80%;
    border-right: 1px solid;">
                        <h5 style="color: #00c4ffbf">Kinh nghiệm làm việc</h5>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">11 năm kinh nghiệm trong lĩnh vực pháp lý doanh nghiệp và dân sự</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Cố vấn pháp lý trên 30 dự án về nghệ thuật/thương mại/truyền thông</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Tư vấn nhượng quyền và xử lý tranh chấp nhượng quyền thương mại</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Luật sư đại diện tham gia trên 100 phiên toà cho doanh nghiệp</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Thực hiện trên 100 giờ đào tạo về pháp lý doanh nghiệp/pháp lý sự
                                kiện</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="text-align: left;padding-top: 4%;">

                    <div style="padding-right: 16%;">
                        <h5 style="color: #00c4ffbf;">Bằng cấp & ngôn ngữ</h5>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Cử nhân Luật Thương Mại, Đại học Luật Tp. Hồ Chí Minh</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Chứng chỉ hành nghề Luật sư, Học Viện Tư Pháp</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Luật sư thành viên - Đoàn Luật sư Tp. Hồ Chí Minh</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Luật sư thành viên - Liên Đoàn Luật sư Việt Nam</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Ngôn ngữ giao tiếp: Anh/Việt</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class=" btn btn-warning padding" style="color: white" type="button">Đặt luật sư tư vấn
                        ngay
                    </button>
                </div>

            </div>
        </div>
        <div class="container-fluid">
            <div id="menu4" class="tab-pane-business center row">
                <div class="col-md-4">
                    <img src="{{base_url}}/asokalaw/assets/media/TVLS/business-size/Asset 3.svg">
                    <div class="profile-business">
                        <p class="title-business">Luật sư</p>
                        <p class="name-business">Tâm Dương</p>

                        <p class="blockquote-business"><i>"Luật sư Tâm mạnh về tổng quát, chiến lược và sáng tạo. Cô ấy
                                đơn giản hóa mọi thứ, chú
                                trọng giải quyết công việc bằng các
                                giải pháp rõ ràng, linh hoạt."</i></p>
                        <p class="start-business">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </p>
                        <p class="btn-link btn-business">168 lượt đặt tư vấn</p>
                    </div>
                </div>
                <div class="col-md-4" style="text-align: left;padding-top: 4%;">

                    <div style="padding-right: 16%;
    /* margin-right: 0px; */
    width: 80%;
    border-right: 1px solid;">
                        <h5 style="color: #00c4ffbf">Kinh nghiệm làm việc</h5>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">11 năm kinh nghiệm trong lĩnh vực pháp lý doanh nghiệp và dân sự</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Cố vấn pháp lý trên 30 dự án về nghệ thuật/thương mại/truyền thông</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Tư vấn nhượng quyền và xử lý tranh chấp nhượng quyền thương mại</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Luật sư đại diện tham gia trên 100 phiên toà cho doanh nghiệp</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Thực hiện trên 100 giờ đào tạo về pháp lý doanh nghiệp/pháp lý sự
                                kiện</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="text-align: left;padding-top: 4%;">

                    <div style="padding-right: 16%;">
                        <h5 style="color: #00c4ffbf;">Bằng cấp & ngôn ngữ</h5>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Cử nhân Luật Thương Mại, Đại học Luật Tp. Hồ Chí Minh</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Chứng chỉ hành nghề Luật sư, Học Viện Tư Pháp</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Luật sư thành viên - Đoàn Luật sư Tp. Hồ Chí Minh</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Luật sư thành viên - Liên Đoàn Luật sư Việt Nam</p>
                        </div>
                        <div class="tab-business">
                            <i class="fa fa-circle icon-child"></i>
                            <p class="tab-child">Ngôn ngữ giao tiếp: Anh/Việt</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class=" btn btn-warning padding" style="color: white" type="button">Đặt luật sư tư vấn
                        ngay
                    </button>
                </div>

            </div>
        </div>

    </div>
</section>