<section id="effective" class="sub">
    <div class="effect-img-popular">
        <img src="{{base_url}}/asokalaw/assets/media/TVLS/effective/Asset 16.svg">
    </div>
    <div class="container-fluid center">
        <div class="row title">
            <h1>Lợi ích khi tham vấn với luật sư của Asoka Law</h1>
        </div>
        <div class="effective-content">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <img class="effective-img" style="width: 120%;" src="{{base_url}}/asokalaw/assets/media/TVLS/effective/ẢNH.png">
                </div>
                <div class="col-md-5">
                    <div class="content-record">
                        <div class="float-left title-record" style="display: inline-flex; padding-bottom: 4%;">
                            <img style="width: 5%;
    margin-top: -7%;" src="{{base_url}}/asokalaw/assets/media/TVLS/effective/Asset 17.svg">
                            <p style="margin-left: 2%;">Bạn hoàn toàn có thể thực hiện <b>tư vấn dễ dàng, từ bất cứ
                                    đâu</b>.
                                Không cần di chuyển hoặc tổ
                                chức gặp ở văn phòng mà vẫn có thể có câu trả lời chính xác cho vấn đề pháp lý bạn thắc
                                mắc.</p>

                        </div>

                    </div>
                    <div class="content-record">
                        <div class="float-left title-record" style="display: inline-flex; padding-bottom: 4%;">
                            <img style="width: 5%;
    margin-top: -7%;" src="{{base_url}}/asokalaw/assets/media/TVLS/effective/Asset 17.svg">
                            <p style="margin-left: 2%;"><b>Giá phí tư vấn thấp</b> nhưng <b>đảm bảo độ chính xác và hữu
                                    ích</b>. Đó
                                hoàn toàn không chỉ là "thông tin mang tính chất tham khảo" mà là câu trả lời được Asoka
                                Law chịu trách nhiệm pháp lý.</p>

                        </div>

                    </div>
                    <div class="content-record">
                        <div class="float-left title-record" style="display: inline-flex; padding-bottom: 4%;">
                            <img style="width: 5%;
    margin-top: -7%;" src="{{base_url}}/asokalaw/assets/media/TVLS/effective/Asset 17.svg">
                            <p style="margin-left: 2%;">Chúng tôi có <b>đội ngũ luật sư/tư vấn viên "thực chiến" trên 10
                                    năm kinh nghiệm</b> trong các lĩnh vực như: thương mại, du lịch, công nghệ thông tin,
                                truyền
                                thông, giáo dục, hàng tiêu dùng,...</p>

                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-1"></div>

        </div>
    </div>
</section>