<section id="list-service" class="sub">
    <div class="container center">
        <div class="row title">
            <h1>Các gói tư vấn phổ biến</h1>
        </div>
        <div class="row title">
            <br>
            <br>
            <p class="text-center">Năm 2019, <b>Asoka Law đã thực hiện 1.000+ giờ tư vấn</b>.Bạn có thể đặt lịch yêu cầu
                luật sư từ bất kỳ đâu, nhận tư vấn giải pháp chi tiết cho vấn đề của bạn mà không cần rời khỏi văn
                phòng.</p>
            <br>
            <br>
        </div>
        <div class="row sub">
            <div class="col-lg-4">
                <div class="service-content popular-feature-block shadow">
                    <h3 style="font-weight: 200">TƯ VẤN CHUNG</h3>
                    <br>
                    <div class="summary">

                        <p class="text-center align-right padding-hor" style="font-size: 30px">200.000 <span
                                    style="font-size: 12px;font-weight: 200;position: absolute;margin-top: 10px;">VNĐ</span>
                        </p>


                        <p class="text-center small text-uppercase">01 câu hỏi</p>
                    </div>
                    <hr class="hr-blur">
                    <div class="summary-detail">

                        <div class="summary-item">

                            <div class="record popular-feature">
                                <img src="{{base_url}}/asokalaw/assets/media/TVLS/popularservice/Asset 12.svg" class="float-left">
                                <p class="unit align-left">Không giới hạn nội dung tư vấn trong doanh nghiệp
                                </p>
                            </div>
                            <div class="record popular-feature">
                                <img src="{{base_url}}/asokalaw/assets/media/TVLS/popularservice/Asset 12.svg" class="float-left">
                                <p class="unit align-left">Luật sư trả lời trên bề mặt các chế định luật chung</p>
                            </div>
                            <div class="record popular-feature">
                                <img src="{{base_url}}/asokalaw/assets/media/TVLS/popularservice/Asset 14.svg" class="float-left">
                                <p class="unit align-left">Luật sư đưa ra giải pháp thích hợp nhất cho thân chủ</p>
                            </div>
                            <div class="record popular-feature">
                                <img src="{{base_url}}/asokalaw/assets/media/TVLS/popularservice/Asset 12.svg" class="float-left">
                                <p class="unit align-left">Trả lời tư vấn qua email</p>
                            </div>
                            <div class="record popular-feature">
                                <img src="{{base_url}}/asokalaw/assets/media/TVLS/popularservice/Asset 12.svg" class="float-left">
                                <p class="unit align-left">Trả lời tư vấn <b>tối đa 03 ngày</b> kể từ thời điểm thanh
                                    toán</p>
                            </div>
                            <div class="sub popular-feature">
                                <button class=" btn btn-outline-warning padding" type="button">ĐẶT TƯ VẤN</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 ">

                <div class="service-content popular-feature-block middle-popular shadow">
                    <div class="banner-small">
                        <img src="{{base_url}}/asokalaw/assets/media/PLTX/service/Asset4.svg">
                    </div>
                    <h3 style="font-weight: 200">TƯ VẤN CHI TIẾT</h3>
                    <br>
                    <div class="summary">

                        <p class="text-center align-right padding-hor" style="font-size: 30px">500.000 <span
                                    style="font-size: 12px;font-weight: 200;position: absolute;margin-top: 10px;">VNĐ</span>
                        </p>


                        <p class="text-center small text-uppercase">01 câu hỏi</p>
                    </div>
                    <hr class="hr-blur">
                    <div class="summary-detail">

                        <div class="summary-item">

                            <div class="record popular-feature">
                                <img src="{{base_url}}/asokalaw/assets/media/TVLS/popularservice/Asset 12.svg" class="float-left">
                                <p class="unit align-left">Không giới hạn nội dung tư vấn trong doanh nghiệp
                                </p>
                            </div>
                            <div class="record popular-feature">
                                <img src="{{base_url}}/asokalaw/assets/media/TVLS/popularservice/Asset 12.svg" class="float-left">
                                <p class="unit align-left">Luật sư trả lời trên bề mặt các chế định luật chung</p>
                            </div>
                            <div class="record popular-feature">
                                <img src="{{base_url}}/asokalaw/assets/media/TVLS/popularservice/Asset 12.svg" class="float-left">
                                <p class="unit align-left">Luật sư đưa ra giải pháp thích hợp nhất cho thân chủ</p>
                            </div>
                            <div class="record popular-feature">
                                <img src="{{base_url}}/asokalaw/assets/media/TVLS/popularservice/Asset 12.svg" class="float-left">
                                <p class="unit align-left">Trả lời tư vấn qua email</p>
                            </div>
                            <div class="record popular-feature">
                                <img src="{{base_url}}/asokalaw/assets/media/TVLS/popularservice/Asset 12.svg" class="float-left">
                                <p class="unit align-left">Trả lời tư vấn <b>tối đa 02 ngày</b> kể từ thời điểm thanh
                                    toán</p>
                            </div>
                            <div class="sub popular-feature">
                                <button class=" btn btn-warning padding" type="button">ĐẶT TƯ VẤN</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="service-content popular-feature-block shadow">
                    <h3 style="font-weight: 200">TƯ VẤN TRỰC TIẾP</h3>
                    <br>
                    <div class="summary">

                        <p class="text-center align-right padding-hor" style="font-size: 30px">1.000.000 <span
                                    style="font-size: 12px;font-weight: 200;position: absolute;margin-top: 10px;">VNĐ</span>
                        </p>


                        <p class="text-center small text-uppercase">30 PHÚT</p>
                    </div>
                    <hr class="hr-blur">
                    <div class="summary-detail">

                        <div class="summary-item">

                            <div class="record popular-feature">
                                <img src="{{base_url}}/asokalaw/assets/media/TVLS/popularservice/Asset 12.svg" class="float-left">
                                <p class="unit align-left">Không giới hạn nội dung tư vấn trong doanh nghiệp
                                </p>
                            </div>
                            <div class="record popular-feature">
                                <img src="{{base_url}}/asokalaw/assets/media/TVLS/popularservice/Asset 12.svg" class="float-left">
                                <p class="unit align-left">Luật sư trả lời trên bề mặt các chế định luật chung</p>
                            </div>
                            <div class="record popular-feature">
                                <img src="{{base_url}}/asokalaw/assets/media/TVLS/popularservice/Asset 12.svg" class="float-left">
                                <p class="unit align-left">Luật sư đưa ra giải pháp thích hợp nhất cho thân chủ</p>
                            </div>
                            <div class="record popular-feature">
                                <img src="{{base_url}}/asokalaw/assets/media/TVLS/popularservice/Asset 12.svg" class="float-left">
                                <p class="unit align-left">Trả lời tư vấn qua email</p>
                            </div>
                            <div class="record popular-feature">
                                <img src="{{base_url}}/asokalaw/assets/media/TVLS/popularservice/Asset 12.svg" class="float-left">
                                <p class="unit align-left">Trả lời tư vấn <b>tối đa 01 ngày</b> kể từ thời điểm thanh
                                    toán</p>
                            </div>
                            <div class="sub popular-feature">
                                <button class=" btn btn-outline-warning padding" type="button">ĐẶT TƯ VẤN</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>