<section id="most-view" class="sub">
    <div class="container center">
        <div class="row title">
            <h1>Các tư vấn được xem nhiều nhất</h1>
        </div>
        <div class="row question-contetn sub">
            <div class="col-md-6">

                <img class="first-most-view-img" src="{{base_url}}/asokalaw/assets/media/TVLS/most-view/ảnh thumnailvideo-100.jpg">
                <img id="most-view-play" src="{{base_url}}/asokalaw/assets/media/TVLS/most-view/Asset 32.svg">
                <div class="viewer"><img id="most-view-eyes" src="{{base_url}}/asokalaw/assets/media/TVLS/most-view/Asset 33.svg"> 23k Lượt xem
                </div>
            </div>
            <div class="col-md-6">
                <div class="row most-views">
                    <div class='col-md-6' style="height: 100%;">

                        <div class="most-views-time">31 THÁNG 01 - 2020</div>


                        <img class="most-views-img" src="{{base_url}}/asokalaw/assets/media/DKNH/News/1.jpg">

                    </div>
                    <div class="col-md-6">
                        <p style="font-size: 13px;"><b>Lorem ipsum dolor sit amet consectuer fing...</b><br><br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt magna...</p>
                    </div>
                </div>
                <div class="row most-views">
                    <div class='col-md-6' style="height: 100%;">

                        <div class="most-views-time">31 THÁNG 01 - 2020</div>


                        <img class="most-views-img" src="{{base_url}}/asokalaw/assets/media/DKNH/News/1.jpg">

                    </div>
                    <div class="col-md-6">
                        <p style="font-size: 13px;"><b>Lorem ipsum dolor sit amet consectuer fing...</b><br><br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt magna...</p>
                    </div>
                </div>

            </div>

            <div class="info-see-all center sub">
                <a>Xem tất cả tin tức ></a>
                <hr>
            </div>
        </div>
    </div>
</section>