<section id="popular-consultant" style="background: url('{{ base_url }}/asokalaw/assets/media/TVLS/popular-consultant/bg.svg');background-size: 128%;
        background-repeat: no-repeat;
        background-position: center;">
    <div class="container-fluid">
        <div class="row" style="    margin: auto;width: 60%;">
            <div class="col-md-12" style="text-align: center"><h1>Lĩnh vực tư vấn phổ biến</h1></div>
            <div class="col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square" src="{{base_url}}/asokalaw/assets/media/TVLS/popular-consultant/Asset 18.svg">
                        <p class="title-square">Doanh nghiệp</p>
                        <p class="des-square">1.199 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square" src="{{base_url}}/asokalaw/assets/media/TVLS/popular-consultant/Asset 19.svg">
                        <p class="title-square">Doanh nghiệp</p>
                        <p class="des-square">1.199 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square" src="{{base_url}}/asokalaw/assets/media/TVLS/popular-consultant/Asset 18.svg">
                        <p class="title-square">Doanh nghiệp</p>
                        <p class="des-square">1.199 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="row" style="    margin: auto;width: 60%;">

            <div class="col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square" src="{{base_url}}/asokalaw/assets/media/TVLS/popular-consultant/Asset 20.svg">
                        <p class="title-square">Doanh nghiệp</p>
                        <p class="des-square">1.199 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square" src="{{base_url}}/asokalaw/assets/media/TVLS/popular-consultant/Asset 21.svg">
                        <p class="title-square">Doanh nghiệp</p>
                        <p class="des-square">1.199 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square" src="{{base_url}}/asokalaw/assets/media/TVLS/popular-consultant/Asset 22.svg">
                        <p class="title-square">Doanh nghiệp</p>
                        <p class="des-square">1.199 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="row" style="    margin: auto;width: 60%;">

            <div class="col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square" src="{{base_url}}/asokalaw/assets/media/TVLS/popular-consultant/Asset 23.svg">
                        <p class="title-square">Doanh nghiệp</p>
                        <p class="des-square">1.199 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square" src="{{base_url}}/asokalaw/assets/media/TVLS/popular-consultant/Asset 24.svg">
                        <p class="title-square">Doanh nghiệp</p>
                        <p class="des-square">1.199 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="square shadow">
                    <div class="default">
                        <img class="image-square" src="{{base_url}}/asokalaw/assets/media/TVLS/popular-consultant/Asset 25.svg">
                        <p class="title-square">Doanh nghiệp</p>
                        <p class="des-square">1.199 lượt đặt tư vấn</p>
                    </div>
                    <div class="subsquare">
                        Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề Tư vấn các vấn đề
                        <br>
                        <br>
                        <button class=" btn btn-outline-warning padding" style="color: white; border: 1px solid white;"
                                type="button">Đặt tư vấn
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" style="    margin: auto;width: 60%;">
            <div class="col-md-12" style="text-align: center;">
                <button class=" btn btn-warning padding" style="color: white;margin-top: 10%;width: 20%;color: white;"
                        type="button">Đặt lịch tư vấn
                </button>
            </div>
        </div>
    </div>


</section>