<section id="support" class="sub">
    <div class="container sub">
        <div class="row title">
            <h1>Đại diện thực hiện pháp lý cho doanh nghiệp</h1>
            <p class="des-record">Asoka Law luôn cung cấp dịch vụ pháp lý toàn diện cho doanh nghiệp trong suốt quá
                trình kinh doanh. Khách hàng của chúng tôi nói rằng, dịch vụ của Asoka dễ sử dụng, phù hợp với từng nhu
                cầu cụ thể của doanh nghiệp.</p>

        </div>
        <div class="slide-support-pltx sub">
            <div class="slide-support-item col-lg-3">
                <div class="">
                    <img src="{{base_url}}/asokalaw/assets/media/TVLS/support/1. Luật sư đại diện xử lý tranh chấp.jpg">
                    <div class="center support-title">
                        <p>Luật sư đại diện xử lý tranh chấp</p>
                        <div class="row">
                            <i class="fa fa-thumbs-up"></i>
                            <p>228 lượt sử dụng</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-support-item col-lg-3">
                <div class="">
                    <img src="{{base_url}}/asokalaw/assets/media/TVLS/support/2. Quản trị pháp lý thường xuyên.jpg">
                    <div class="center support-title">
                        <p>Quản trị pháp lý thường xuyên</p>
                        <div class="row">
                            <i class="fa fa-thumbs-up"></i>
                            <p>963 lượt sử dụng</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-support-item col-lg-3">
                <div class="">
                    <img src="{{base_url}}/asokalaw/assets/media/TVLS/support/3. Đăng ký kinh doanh.jpg">
                    <div class="center support-title">
                        <p>Đăng ký kinh doanh</p>
                        <div class="row">
                            <i class="fa fa-thumbs-up"></i>
                            <p>3.000 lượt sử dụng
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-support-item col-lg-3">
                <div class="">
                    <img src="{{base_url}}/asokalaw/assets/media/TVLS/support/4. Đăng ký sở hữu trí tuệ.jpg">
                    <div class="center support-title">
                        <p>Đăng ký sở hữu trí tuệ</p>
                        <div class="row">
                            <i class="fa fa-thumbs-up"></i>
                            <p>568 lượt sử dụng</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-support-item col-lg-3">
                <div class="">
                    <img src="{{base_url}}/asokalaw/assets/media/TVLS/support/5. Đăng ký lưu hành sản phẩm trên thị trường.jpg">
                    <div class="center support-title">
                        <p>Đăng ký lưu hành sản phẩm trên thị trường</p>
                        <div class="row">
                            <i class="fa fa-thumbs-up"></i>
                            <p>576 lượt sử dụng</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-support-item col-lg-3">
                <div class="">
                    <img src="{{base_url}}/asokalaw/assets/media/TVLS/support/6. Đăng ký đầu tư.jpg">
                    <div class="center support-title">
                        <p>Đăng ký đầu tư</p>
                        <div class="row">
                            <i class="fa fa-thumbs-up"></i>
                            <p>216 lượt sử dụng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub center">
            <button class=" btn btn-warning padding color-white" type="button">TƯ VẤN DỊCH VỤ</button>
        </div>
    </div>
</section>