{% extends "admin/base.twig" %}
{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12 text-center">
                    <h1 class="m-0 text-dark">{{ lang.CHANGE_PASSWORD }}</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-info">
                <form class="form-horizontal">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">{{ lang.CURRENT_PASSWORD }}</label>
                                    <div class="col-sm-8">
                                        <input type="password" id="cur_pass" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">{{ lang.NEW_PASSWORD }}</label>
                                    <div class="col-sm-8">
                                        <input type="password" id="new_pass" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">{{ lang.RETYPE_NEW_PASSWORD }}</label>
                                    <div class="col-sm-8">
                                        <input type="password" id="retype_pass" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-info submit-ticket-btn">{{ lang.SUBMIT }}</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_footer %}
    <script>
        $('.submit-ticket-btn').on('click', function () {
            var cur_pass = $('#cur_pass').val();
            var new_pass = $('#new_pass').val();
            if (cur_pass && new_pass) {
                if ($('#retype_pass').val() != $('#new_pass').val()) toastr.error("Retype password must is the same with new password!");
                else {
                    var sp = new JSSpinner();
                    sp.show('Loading');
                    $.ajax({
                        url: base_url + '/admin/change_password',
                        method: 'POST',
                        dataType: 'json',
                        data: {
                            cur_pass: cur_pass,
                            new_pass: new_pass
                        },
                        success: function (res) {
                            sp.hide();
                            if (res.success) {
                                toastr.success("Success!");
                            } else {
                                toastr.error('Current password not correct!');
                            }
                        }
                    });
                }
            } else {
                toastr.error("input password for change before submit!");
            }
        });
    </script>
{% endblock %}